Repository microsoft/AttackSurfaceAnalyzer: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Path conditions:
  Pipelines/asa-pr.yml: any of: Benchmarks, Cli, Lib, Pipelines, Tests, analyses.json
  Pipelines/pr-validation.yml: any of: Cli, Lib, Tests, Benchmarks, Pipelines, analyses.json
  Pipelines/release.yml: any of: Cli, Lib

Revert change to MSTest.SDK
  Tests/Tests.csproj
  global.json
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Bump Dependencies, Add Net 9 target, Remove Net 6 and 7 Targets (#727)
  .gitignore
  Benchmarks/Benchmarks.csproj
  Cli/Cli.csproj
  Directory.Build.props
  Lib/Lib.csproj
  Pipelines/asa-pr.yml
  Pipelines/asa-release.yml
  Tests/Tests.csproj
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Use MSTest 3.7.1 + new test runner
  Tests/Tests.csproj
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Add Ignore Annotation to TPM Collector Test to fix pipeline failure
  Tests/CollectorTests.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Use MSTest runner
  Tests/Tests.csproj
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Enable tests parallelization
  Tests/AsaAnalyzerTests.cs
  Tests/CollectorTests.cs
  Tests/ExportTests.cs
  Tests/GlobalSetup.cs
  Tests/HydrationTests.cs
  Tests/InMemoryComparatorTests.cs
  Tests/RuleFileTests.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Apply MSTest analyzers feedback
  Tests/HydrationTests.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Remove test parallelization
  Tests/GlobalSetup.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Reenabe parallelization
  Tests/GlobalSetup.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Coverage and trx on pipeline
  Pipelines/asa-pr.yml
  Pipelines/asa-release.yml
  Tests/Tests.csproj
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Fix an out of memory error when serializing large reports by changing serialization behavior.
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Further reduce Sarif report size with `DisableImplicitFindings` by not populating the `artifacts` portion of the sarif for changes with no associated rule when setting is enabled.
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Use using for the sarif output textwriter.
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Disable TPM Collector as its incompatible with new pipeline changes.
  Tests/CollectorTests.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Update Sarif Export test behavior to match new artifact population behavior with DisableImplicitFindings.
  Tests/ExportTests.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Fix out of memory error with large sarif reports (#731)
  Cli/AttackSurfaceAnalyzerClient.cs
  Tests/CollectorTests.cs
  Tests/ExportTests.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Fix Registry Collector not being enabled when `match-run-id` is enabled against a previous run with Registry Collector enabled.
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Fix Registry Collector not being enabled when `match-run-id` is enabled against a previous run with Registry Collector enabled. (#734)
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Add Category for Pipeline Safe Tests (i.e. non-collector integration tests), to improve pipeline reliability.
  Tests/AsaAnalyzerTests.cs
  Tests/CollectorTests.cs
  Tests/DiffTests.cs
  Tests/ExportTests.cs
  Tests/HydrationTests.cs
  Tests/InMemoryComparatorTests.cs
  Tests/RuleFileTests.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Remove unused usings from RuleFileTests.cs.
  Tests/RuleFileTests.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Update pipelines to use the `PipelineSafeTests` category to select test executions.
  Pipelines/asa-pr.yml
  Pipelines/asa-release.yml
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Restrict Tests run in Pipeline (#735)
  Pipelines/asa-pr.yml
  Pipelines/asa-release.yml
  Tests/AsaAnalyzerTests.cs
  Tests/CollectorTests.cs
  Tests/DiffTests.cs
  Tests/ExportTests.cs
  Tests/HydrationTests.cs
  Tests/InMemoryComparatorTests.cs
  Tests/RuleFileTests.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Swaps order of UseDotNet 6 tasks (for ESRP) and NBGV set version steps (which requires .NET 8)
  Pipelines/asa-release.yml
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Swaps order of UseDotNet 6 tasks (for ESRP) and NBGV set version steps (which requires .NET 8) (#738)
  Pipelines/asa-release.yml
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Fix Union -> Concat in BaseCompare
  Lib/Collectors/BaseCompare.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Update Home.razor
  Cli/Pages/Home.razor
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Add Privacy Statement Link to GUI (#739)
  Cli/Pages/Home.razor
  Lib/Collectors/BaseCompare.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Update Dependencies
  Lib/Lib.csproj
  Tests/Tests.csproj
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Update Dependencies (#740)
  Lib/Lib.csproj
  Tests/Tests.csproj
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Change TypeNameHandling to None
  Tests/ExportTests.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Minor text, link improvements to readme.
  README.md
Due: none

Update SECURITY.md
  SECURITY.md
Due: none

Minor text, link improvements to readme. (#742)
  README.md
Due: none

Change TypeNameHandling to None (#741)
  Tests/ExportTests.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Update SECURITY.md (#744)
  SECURITY.md
Due: none

Update SECURITY.md (#745)
  SECURITY.md
Due: none

Move github release to separate job
  Pipelines/asa-release.yml
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Update asa-release.yml
  Pipelines/asa-release.yml
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Move github release to separate job (#746)
  Pipelines/asa-release.yml
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml
