Repository microsoft/AttackSurfaceAnalyzer: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Path conditions:
  Pipelines/asa-pr.yml: any of: Benchmarks, Cli, Lib, Pipelines, Tests, analyses.json
  Pipelines/asa-release.yml: any of: Cli, Lib, Pipelines, analyses.json
  Pipelines/core-pipeline.yml: any of: Cli, Lib, Pipelines, analyses.json
  Pipelines/pr-validation.yml: any of: Cli, Lib, Tests, Benchmarks, Pipelines, analyses.json
  Pipelines/release.yml: any of: Cli, Lib

Fix RegistryWalker (#701)
  Lib/Utils/RegistryWalker.cs
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Ensure sarif outputs results with no explicit rule matching
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Adds option to use old behavior to not output results without explicit rule match
  Cli/AttackSurfaceAnalyzerClient.cs
  Lib/Objects/CommandOptions.cs
  Tests/ExportTests.cs
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Adds test case for new behavior
  Tests/ExportTests.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Fix Sarif output of results with no rule match (#704)
  Cli/AttackSurfaceAnalyzerClient.cs
  Lib/Objects/CommandOptions.cs
  Tests/ExportTests.cs
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Deploy v2.3 to GitHub Pages
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.ExportCollectCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.ExportGuidedCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.ExportMonitorCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.ExportOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.GuiCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.GuidedModeCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.MonitorCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.VerifyOptions.html
  v2.3/manifest.json
  v2.3/xrefmap.yml
Due: none

Fix CodeQL Issues
  Cli/AttackSurfaceAnalyzerClient.cs
  Lib/Collectors/RegistryMonitor.cs
  Lib/Utils/SqliteDatabaseManager.cs
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Update dependencies
  Benchmarks/Benchmarks.csproj
  Cli/Cli.csproj
  Lib/Lib.csproj
  Tests/Tests.csproj
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Small cleanup
  Benchmarks/InsertTestsWithIntermittentTransactions.cs
  Tests/DiffTests.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Update Dependencies (#705)
  Benchmarks/Benchmarks.csproj
  Benchmarks/InsertTestsWithIntermittentTransactions.cs
  Cli/AttackSurfaceAnalyzerClient.cs
  Cli/Cli.csproj
  Lib/Collectors/RegistryMonitor.cs
  Lib/Lib.csproj
  Lib/Utils/SqliteDatabaseManager.cs
  Tests/DiffTests.cs
  Tests/Tests.csproj
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Deploy v2.3 to GitHub Pages
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Collectors.RegistryMonitor.html
  v2.3/manifest.json
Due: none

Update dependencies + Build .NET 8 version
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-docs.yml
  Cli/Cli.csproj
  Lib/Lib.csproj
  Pipelines/asa-pr.yml
  Pipelines/asa-release.yml
  Tests/Tests.csproj
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Dependencies
  AttackSurfaceAnalyzer.sln
  Benchmarks/Benchmarks.csproj
  Cli/Cli.csproj
  Lib/Lib.csproj
  Tests/Tests.csproj
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Update dependencies + Build .NET 8 version (#706)
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-docs.yml
  AttackSurfaceAnalyzer.sln
  Benchmarks/Benchmarks.csproj
  Cli/Cli.csproj
  Lib/Lib.csproj
  Pipelines/asa-pr.yml
  Pipelines/asa-release.yml
  Tests/Tests.csproj
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Update dependencies.
  Benchmarks/Benchmarks.csproj
  Cli/Cli.csproj
  Lib/Lib.csproj
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Delete codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Add permissions block
  .github/workflows/publish-docs.yml
Due: none

Update Dependencies + add Permissions block to workflow (#707)
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-docs.yml
  Benchmarks/Benchmarks.csproj
  Cli/Cli.csproj
  Lib/Lib.csproj
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Rewrite GitHub Pages Publish to use official action
  .github/workflows/publish-docs.yml
Due: none

Update pipeline templates to latest
  Pipelines/asa-pr.yml
  Pipelines/asa-release.yml
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Fix Indent
  .github/workflows/publish-docs.yml
Due: none

Update image names to match new template values
  Pipelines/asa-pr.yml
  Pipelines/asa-release.yml
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Rewrite GitHub Pages Publish to use official action (#708)
  .github/workflows/publish-docs.yml
  Pipelines/asa-pr.yml
  Pipelines/asa-release.yml
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Update asa-release.yml
  Pipelines/asa-release.yml
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Update dependencies
  Cli/Cli.csproj
  Lib/Lib.csproj
  Tests/Tests.csproj
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Remove unused sqlite reference
  Lib/Lib.csproj
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Use Default Pool Definition (#709)
  Cli/Cli.csproj
  Lib/Lib.csproj
  Pipelines/asa-release.yml
  Tests/Tests.csproj
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Migrate to 1ES Templates
  Pipelines/asa-pr.yml
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Update asa-pr.yml
  Pipelines/asa-pr.yml
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Migrate to 1ES Templates (#712)
  Pipelines/asa-pr.yml
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Populate Metadata in Each Individual Sarif
  Cli/AttackSurfaceAnalyzerClient.cs
  Lib/Objects/CommandOptions.cs
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

WIP Conversion to ProtoBuf Object Storage
  .gitignore
  Lib/Lib.csproj
  Lib/Objects/CollectObject.cs
  Lib/Objects/FileSystemObject.cs
  Lib/Objects/MacSignature.cs
  Lib/Objects/SerializableCertificate.cs
  Lib/Objects/Signature.cs
  Lib/Objects/WriteObject.cs
  Lib/Utils/JsonUtils.cs
  Lib/Utils/SqliteDatabaseManager.cs
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Convert rest of objects
  Benchmarks/Program.cs
  Benchmarks/SystemSqliteDatabaseManager.cs
  Lib/Objects/AsaNvIndex.cs
  Lib/Objects/CertificateObject.cs
  Lib/Objects/CollectObject.cs
  Lib/Objects/ComObject.cs
  Lib/Objects/CryptographicKeyObject.cs
  Lib/Objects/DriverObject.cs
  Lib/Objects/EventLogObject.cs
  Lib/Objects/FileMonitorObject.cs
  Lib/Objects/FileSystemObject.cs
  Lib/Objects/FirewallObject.cs
  Lib/Objects/MonitorObject.cs
  Lib/Objects/OpenPortObject.cs
  Lib/Objects/ProcessModuleObject.cs
  Lib/Objects/ProcessObject.cs
  Lib/Objects/RegistryObject.cs
  Lib/Objects/SerializableCertificate.cs
  Lib/Objects/SerializableFileVersionInfo.cs
  Lib/Objects/ServiceObject.cs
  Lib/Objects/TpmObject.cs
  Lib/Objects/UserAccountObject.cs
  Lib/Objects/UserGroupObject.cs
  Lib/Objects/WifiObject.cs
  Lib/Utils/CryptoHelpers.cs
  Lib/Utils/JsonUtils.cs
  Tests/HydrationTests.cs
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Better workaround for hasher reuse
  Benchmarks/Program.cs
  Lib/Utils/CryptoHelpers.cs
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Rename JsonUtils ProtoBufUtils
  Lib/Objects/CollectObject.cs
  Lib/Objects/WriteObject.cs
  Lib/Utils/ProtoBufUtils.cs
  Lib/Utils/SqliteDatabaseManager.cs
  Tests/HydrationTests.cs
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Add Equals method to Serializable Certificate
  Lib/Objects/SerializableCertificate.cs
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Update HydrationTests to use a shared compare logic
  Tests/HydrationTests.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Comment Unneeded Hash Benchmarks
  Benchmarks/CryptoTests.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml
