Repository microsoft/AttackSurfaceAnalyzer: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Path conditions:
  Pipelines/asa-pr.yml: any of: Benchmarks, Cli, Lib, Pipelines, Tests, analyses.json
  Pipelines/asa-release.yml: any of: Cli, Lib, Pipelines, analyses.json
  Pipelines/core-pipeline.yml: any of: Cli, Lib, Pipelines, analyses.json
  Pipelines/pr-validation.yml: any of: Cli, Lib, Tests, Benchmarks, Pipelines, analyses.json
  Pipelines/release.yml: any of: Cli, Lib

Switch back to SHA256 hashing
  Lib/Utils/CryptoHelpers.cs
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Delete launchSettings.json
  Cli/Properties/launchSettings.json
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Rename WriteObject.FromString to WriteObject.FromSerialized
  Benchmarks/SystemSqliteDatabaseManager.cs
  Lib/Objects/WriteObject.cs
  Lib/Utils/SqliteDatabaseManager.cs
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

bump bootstrap version
  Cli/Pages/Home.razor
  Cli/wwwroot/css/bootstrap/bootstrap.min.css
  Cli/wwwroot/css/bootstrap/bootstrap.min.css.map
  Cli/wwwroot/js/bootstrap.bundle.min.js
  Cli/wwwroot/js/bootstrap.bundle.min.js.map
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

bootstrap version 5.2.3
  Cli/wwwroot/css/bootstrap/bootstrap.min.css
  Cli/wwwroot/css/bootstrap/bootstrap.min.css.map
  Cli/wwwroot/js/bootstrap.bundle.min.js
  Cli/wwwroot/js/bootstrap.bundle.min.js.map
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

#650 bump bootstrap version
  Cli/Pages/Home.razor
  Cli/wwwroot/css/bootstrap/bootstrap.min.css
  Cli/wwwroot/css/bootstrap/bootstrap.min.css.map
  Cli/wwwroot/js/bootstrap.bundle.min.js
  Cli/wwwroot/js/bootstrap.bundle.min.js.map
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Bump to Bootstrap 5.3.3
  Cli/wwwroot/css/bootstrap/bootstrap.min.css
  Cli/wwwroot/css/bootstrap/bootstrap.min.css.map
  Cli/wwwroot/js/bootstrap.bundle.min.js
  Cli/wwwroot/js/bootstrap.bundle.min.js.map
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Readme cleanup
  README.md
Due: none

#650 bump bootstrap version (#717)
  Cli/Pages/Home.razor
  Cli/wwwroot/css/bootstrap/bootstrap.min.css
  Cli/wwwroot/css/bootstrap/bootstrap.min.css.map
  Cli/wwwroot/js/bootstrap.bundle.min.js
  Cli/wwwroot/js/bootstrap.bundle.min.js.map
  README.md
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Update asa-release.yml
  Pipelines/asa-release.yml
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Begin templating release pipeline (#718)
  Pipelines/asa-release.yml
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Use MSTest SDK
  Tests/Tests.csproj
  global.json
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

add release stage with signing
  Pipelines/asa-release.yml
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

add release stage with signing (#721)
  Pipelines/asa-release.yml
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

add empty release pipeline
  Pipelines/asa-release.yaml
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

add empty release pipeline (#722)
  Pipelines/asa-release.yaml
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Create empty asa-release.yml
  Pipelines/asa-release.yml
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

add release to nuget and github
  Pipelines/asa-release.yml
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

add release to nuget and github (#723)
  Pipelines/asa-release.yml
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Bump Dependencies
  Benchmarks/Benchmarks.csproj
  Cli/Cli.csproj
  Directory.Build.props
  Lib/Lib.csproj
  Tests/Tests.csproj
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Migrate placeholder to template
  Pipelines/asa-release.yaml
  Pipelines/asa-release.yml
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Templatify core pipeline too
  Pipelines/asa-release.yml
  Pipelines/core-pipeline.yml
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Make pipeline true no-op
  Pipelines/asa-release.yml
  Pipelines/core-pipeline.yml
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Fix
  Pipelines/asa-release.yml
  Pipelines/core-pipeline.yml
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Run once
  Pipelines/asa-release.yml
  Pipelines/core-pipeline.yml
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Rename Stage
  Pipelines/asa-release.yml
  Pipelines/core-pipeline.yml
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Change to official
  Pipelines/asa-release.yml
  Pipelines/core-pipeline.yml
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Migrate placeholder to template (#725)
  Pipelines/asa-release.yaml
  Pipelines/asa-release.yml
  Pipelines/core-pipeline.yml
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Remove Broken Action Ymls
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-docs.yml
Due: none

Remove Broken Action Ymls (#726)
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-docs.yml
Due: none

Update Dependencies
  Lib/Lib.csproj
  Tests/Tests.csproj
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Comment out tests incompatible with changed pipelines
  Tests/CollectorTests.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Bump Dependencies (#724)
  Benchmarks/Benchmarks.csproj
  Cli/Cli.csproj
  Directory.Build.props
  Lib/Lib.csproj
  Tests/CollectorTests.cs
  Tests/Tests.csproj
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Update Dependencies and Build Targets
  Benchmarks/Benchmarks.csproj
  Cli/Cli.csproj
  Directory.Build.props
  Lib/Lib.csproj
  Tests/Tests.csproj
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Update Pipelines for Net 9
  Pipelines/asa-pr.yml
  Pipelines/asa-release.yml
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Switch to MSTest SDK per #719
  .gitignore
  Tests/Tests.csproj
  global.json
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

One more bump
  Cli/Cli.csproj
  Lib/Lib.csproj
  Tests/Tests.csproj
  global.json
Due: Pipelines/asa-pr.yml, Pipelines/asa-release.yml, Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml
