Repository microsoft/AttackSurfaceAnalyzer: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Path conditions:
  Pipelines/asa-pr.yml: any of: Benchmarks, Cli, Lib, Pipelines, Tests, analyses.json
  Pipelines/pr-validation.yml: any of: Cli, Lib, Tests, Benchmarks, Pipelines, analyses.json
  Pipelines/release.yml: any of: Cli, Lib

Fix pipeline consuming nuget config.
  Pipelines/asa-pr.yml
  Pipelines/asa-release.yml
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Update dependencies
  Benchmarks/Benchmarks.csproj
  Cli/Cli.csproj
  Lib/Lib.csproj
  Tests/Tests.csproj
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Update Dependencies and Fix Consuming Nuget.Config (#747)
  Benchmarks/Benchmarks.csproj
  Cli/Cli.csproj
  Lib/Lib.csproj
  Pipelines/asa-pr.yml
  Pipelines/asa-release.yml
  Tests/Tests.csproj
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Disable TypeNameHandling
  Tests/ExportTests.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Provide Justification or fix suppressed issues
  Cli/AttackSurfaceAnalyzerClient.cs
  Lib/Collectors/CertificateCollector.cs
  Lib/Collectors/ComObjectCollector.cs
  Lib/Collectors/UserAccountCollector.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Modifying export tests to avoid deserialization the json report.
  Cli/AttackSurfaceAnalyzerClient.cs
  Lib/Objects/AsaResults.cs
  Tests/ExportTests.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Add File Modified section
  Tests/ExportTests.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Block using `..` in paths to prevent path injection
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Disable TypeNameHandling in ExportTests (#748)
  Cli/AttackSurfaceAnalyzerClient.cs
  Lib/Collectors/CertificateCollector.cs
  Lib/Collectors/ComObjectCollector.cs
  Lib/Collectors/UserAccountCollector.cs
  Lib/Objects/AsaResults.cs
  Tests/ExportTests.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Update README.md
  README.md
Due: none

add nuget config for release pipeline
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  nuget.release.config
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Update NuGet package versions across projects
  Benchmarks/Benchmarks.csproj
  Cli/Cli.csproj
  Lib/Lib.csproj
  Tests/Tests.csproj
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Update NuGet package versions across projects (#751)
  Benchmarks/Benchmarks.csproj
  Cli/Cli.csproj
  Lib/Lib.csproj
  Tests/Tests.csproj
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Update pipeline template reference to v2.0.4
  Pipelines/asa-release.yml
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Update pipeline template reference to v2.0.4 (#752)
  Pipelines/asa-release.yml
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Add release NuGet config and update pipeline references
  NuGet.Config.AzureArtifacts.Release
  Pipelines/asa-release.yml
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Add release NuGet config and update pipeline references (#753)
  NuGet.Config.AzureArtifacts.Release
  Pipelines/asa-release.yml
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Update all NuGet dependencies to latest compatible versions (#756)
  Benchmarks/Benchmarks.csproj
  Cli/Cli.csproj
  Directory.Build.props
  Lib/Lib.csproj
  Tests/Tests.csproj
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Update dependencies to latest respecting framework version restrictions (#759)
  Benchmarks/Benchmarks.csproj
  Benchmarks/SetupTimeTest.cs
  Directory.Build.props
  Lib/Lib.csproj
  Tests/Tests.csproj
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

move pipelines
  NuGet.Config.AzureArtifacts
  NuGet.Config.AzureArtifacts.Release
  Pipelines/asa-pr.yml
  Pipelines/asa-release.yml
  nuget.config
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

rename PR pipeline to match filename in release/v2.3 branch
  Pipelines/asa-pr.yml
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

move pipelines (#760)
  NuGet.Config.AzureArtifacts
  NuGet.Config.AzureArtifacts.Release
  Pipelines/asa-pr.yml
  Pipelines/asa-release.yml
  nuget.config
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Narrow signature validity rule to only flag signed binaries
  analyses.json
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Add PE signature/time validation tests
  Tests/SignatureTests.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml

Fix binary signature expiry check to validate signing time against certificate validity period (#763)
  Lib/Collectors/WindowsFileSystemUtils.cs
  Lib/Objects/Signature.cs
  Tests/SignatureTests.cs
  analyses.json
  nuget.config
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Update target frameworks to support .NET 10.0 and update dependencies.
  .github/workflows/publish-docs.yml
  Benchmarks/Benchmarks.csproj
  Cli/Cli.csproj
  Lib/Lib.csproj
  Pipelines/asa-pr.yml
  Pipelines/asa-release.yml
  Tests/Tests.csproj
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Fix Authenticode signing time extraction and split signature validity rules
  Lib/Collectors/WindowsFileSystemUtils.cs
  Lib/Objects/Signature.cs
  Tests/SignatureTests.cs
  analyses.json
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Record registry ACE access type and key SDDL
  Lib/Objects/RegistryObject.cs
  Lib/Utils/RegistryWalker.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Fix COM server path resolution and handle LocalServer32
  Lib/Collectors/ComObjectCollector.cs
  Lib/Utils/RegistryReferenceParser.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Detect lay-and-wait DLL load privilege escalation via load points
  Cli/AttackSurfaceAnalyzerClient.cs
  Cli/Components/CollectorOptions/LoadPointCollectorOptions.razor
  Cli/Components/CollectorOptionsRazor.razor
  Lib/Collectors/LoadPointCollector.cs
  Lib/Objects/AsaRule.cs
  Lib/Objects/CommandOptions.cs
  Lib/Objects/LoadPointObject.cs
  Lib/Objects/RegistryObject.cs
  Lib/Objects/Types.cs
  Lib/Utils/JsonUtils.cs
  Lib/Utils/PermissionUtils.cs
  Lib/Utils/RegistryWalker.cs
  Tests/AsaAnalyzerTests.cs
  Tests/CollectorTests.cs
  Tests/HydrationTests.cs
  Tests/LoadPointUtilsTests.cs
  analyses.json
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Do not resolve load point targets on other machines by default
  Cli/Components/CollectorOptions/LoadPointCollectorOptions.razor
  Lib/Collectors/ComObjectCollector.cs
  Lib/Collectors/LoadPointCollector.cs
  Lib/Objects/CommandOptions.cs
  Lib/Objects/LoadPointObject.cs
  Lib/Utils/PathUtils.cs
  Tests/CollectorTests.cs
  Tests/HydrationTests.cs
  Tests/LoadPointUtilsTests.cs
Due: Pipelines/asa-pr.yml, Pipelines/pr-validation.yml, Pipelines/release.yml
