Repository microsoft/AttackSurfaceAnalyzer: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: Cli, Lib, Pipelines, analyses.json
  Pipelines/pr-validation.yml: any of: Cli, Lib, Tests, Benchmarks, Pipelines, analyses.json
  Pipelines/release.yml: any of: Cli, Lib

net 7 pipelines
  Pipelines/core-pipeline.yml
  Pipelines/templates/dotnet-test-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Update dotnet-test-job.yml
  Pipelines/templates/dotnet-test-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Fix jobnames
  Pipelines/core-pipeline.yml
  Pipelines/templates/dotnet-test-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Try another way
  Pipelines/core-pipeline.yml
  Pipelines/templates/dotnet-test-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Try fix publish issue
  Pipelines/core-pipeline.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Specify LTS sdk as well for nuget publish
  Pipelines/core-pipeline.yml
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Update RE Dependency
  Lib/Lib.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Try fix running from pack
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Minor improvements to static web assets
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

clearer message when copying static assets
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Uses web root API instead of copying folders
  Cli/AttackSurfaceAnalyzerClient.cs
  Cli/Properties/launchSettings.json
  Lib/Objects/Types.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Update AttackSurfaceAnalyzerClient.cs
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Build for Net 7.0 (#674)
  .github/workflows/codeql-analysis.yml
  Cli/AttackSurfaceAnalyzerClient.cs
  Cli/Cli.csproj
  Cli/Properties/launchSettings.json
  Lib/Collectors/BaseCompare.cs
  Lib/Lib.csproj
  Lib/Objects/Types.cs
  Lib/Utils/SqliteDatabaseManager.cs
  Pipelines/core-pipeline.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nuget-build-job.yml
  Tests/Tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Deploy v2.3 to GitHub Pages
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Collectors.BaseCompare.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Types.ASA_ERROR.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Types.CHANGE_TYPE.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Types.DLLCHARACTERISTICS.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Types.EXECUTABLE_TYPE.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Types.PLATFORM.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Types.RESULT_TYPE.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Types.RUN_STATUS.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Types.RUN_TYPE.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Types.TRANSPORT.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Utils.DBSettings.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Utils.SqliteDatabaseManager.html
  v2.3/manifest.json
  v2.3/xrefmap.yml
Due: none

Fix Saving Rules
  Cli/Pages/Author.razor
  Cli/wwwroot/js/SaveFile.js
  Lib/Objects/Types.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Update Author.razor
  Cli/Pages/Author.razor
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Updates OAT Dependency
  Cli/Cli.csproj
  Lib/Lib.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Add summary of rule validation.
  Cli/Pages/Author.razor
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Dont force collapsed state on verify
  Cli/Pages/Author.razor
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Fix Saving Rules (#676)
  Cli/Cli.csproj
  Cli/Pages/Author.razor
  Cli/wwwroot/js/SaveFile.js
  Lib/Lib.csproj
  Lib/Objects/Types.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Deploy v2.3 to GitHub Pages
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Types.ADDRESS_FAMILY.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Types.ANALYSIS_RESULT_TYPE.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Types.ASA_ERROR.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Types.CHANGE_TYPE.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Types.DLLCHARACTERISTICS.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Types.EXECUTABLE_TYPE.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Types.PLATFORM.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Types.RESULT_TYPE.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Types.RUN_STATUS.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Types.RUN_TYPE.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Types.TRANSPORT.html
  v2.3/manifest.json
Due: none

Remove LiteDB references and implementation from Benchmarks
  Benchmarks/Benchmarks.csproj
  Benchmarks/LiteDbInsertTests.cs
  Benchmarks/LiteDbManager.cs
  Benchmarks/LiteDbQueryTests.cs
Due: Pipelines/pr-validation.yml

Remove LiteDB references and implementation from Benchmarks (#678)
  Benchmarks/Benchmarks.csproj
  Benchmarks/LiteDbInsertTests.cs
  Benchmarks/LiteDbManager.cs
  Benchmarks/LiteDbQueryTests.cs
Due: Pipelines/pr-validation.yml

Remove LiteDB References and benchmarks
  Benchmarks/Benchmarks.csproj
  Benchmarks/LiteDbInsertTests.cs
  Benchmarks/LiteDbManager.cs
  Benchmarks/LiteDbQueryTests.cs
Due: Pipelines/pr-validation.yml

Remove LiteDB References and benchmarks (#679)
  Benchmarks/Benchmarks.csproj
  Benchmarks/LiteDbInsertTests.cs
  Benchmarks/LiteDbManager.cs
  Benchmarks/LiteDbQueryTests.cs
Due: Pipelines/pr-validation.yml

Partial rewrite to messagepack serialization
  Benchmarks/SerializationBench.cs
  Benchmarks/SystemSqliteDatabaseManager.cs
  Lib/Lib.csproj
  Lib/Objects/CertificateObject.cs
  Lib/Objects/CollectObject.cs
  Lib/Objects/ComObject.cs
  Lib/Objects/CryptographicKeyObject.cs
  Lib/Objects/DriverObject.cs
  Lib/Objects/EventLogObject.cs
  Lib/Objects/FileMonitorObject.cs
  Lib/Objects/FileSystemObject.cs
  Lib/Objects/FirewallObject.cs
  Lib/Objects/GroupAccountObject.cs
  Lib/Objects/OpenPortObject.cs
  Lib/Objects/ProcessModuleObject.cs
  Lib/Objects/ProcessObject.cs
  Lib/Objects/RegistryObject.cs
  Lib/Objects/SerializableCertificate.cs
  Lib/Objects/ServiceObject.cs
  Lib/Objects/TpmObject.cs
  Lib/Objects/UserAccountObject.cs
  Lib/Objects/WifiObject.cs
  Lib/Objects/WriteObject.cs
  Lib/Utils/CryptoHelpers.cs
  Lib/Utils/JsonUtils.cs
  Lib/Utils/SerializationUtils.cs
  Lib/Utils/SqliteDatabaseManager.cs
  Tests/HydrationTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Implement File System, Registry and Com objects and dependent classes
  Lib/Objects/ComObject.cs
  Lib/Objects/FileSystemObject.cs
  Lib/Objects/MacSignature.cs
  Lib/Objects/RegistryObject.cs
  Lib/Objects/Signature.cs
  Lib/Utils/SerializationUtils.cs
  Tests/HydrationTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Complete Collect Object Serialization Refactor
  Lib/Objects/AsaNvIndex.cs
  Lib/Objects/CryptographicKeyObject.cs
  Lib/Objects/DriverObject.cs
  Lib/Objects/EventLogObject.cs
  Lib/Objects/FirewallObject.cs
  Lib/Objects/GroupAccountObject.cs
  Lib/Objects/OpenPortObject.cs
  Lib/Objects/ProcessModuleObject.cs
  Lib/Objects/ProcessObject.cs
  Lib/Objects/SerializableFileVersionInfo.cs
  Lib/Objects/ServiceObject.cs
  Lib/Objects/TpmObject.cs
  Lib/Objects/UserAccountObject.cs
  Tests/HydrationTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Bump Schema Version
  Lib/Utils/SqliteDatabaseManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

SemVer change
  version.json
Due: none

WIP rewrite fetch by runid
  Benchmarks/QueryTests.cs
  Lib/Objects/CompareResult.cs
  Lib/Objects/SqlConnectionHolder.cs
  Lib/Objects/WriteObject.cs
  Lib/Utils/SerializationUtils.cs
  Lib/Utils/SqliteDatabaseManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Update NuGet to point to Azure Artifacts. (#658)
  NuGet.Config.AzureArtifacts
  NuGet.Config.Public
  Pipelines/core-pipeline.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nbgv-set-version-steps.yml
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Fix Test job
  Pipelines/templates/dotnet-test-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml
