Repository microsoft/AttackSurfaceAnalyzer: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: Cli, Lib, Pipelines, analyses.json
  Pipelines/pr-validation.yml: any of: Cli, Lib, Tests, Benchmarks, Pipelines, analyses.json
  Pipelines/release.yml: any of: Cli, Lib

wip
  Lib/Utils/SqliteDatabaseManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Update NuGet to point to Azure Artifacts. (#658) (#683)
  NuGet.Config.AzureArtifacts
  NuGet.Config.Public
  Pipelines/core-pipeline.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nbgv-set-version-steps.yml
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Try Fix #684
  Lib/Collectors/WindowsFileSystemUtils.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Remove call to check mag signatures when executing on windows
  Lib/Collectors/FileSystemCollector.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Reduce redundancy in WindowsFIleSystemUtils
  Lib/Collectors/WindowsFileSystemUtils.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Fix Gathering Signatures of Read Only files
  Lib/Collectors/WindowsFileSystemUtils.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Fixes gathering DLLCharacteristics and Signature information for Read-Only files. (#685)
  Lib/Collectors/FileSystemCollector.cs
  Lib/Collectors/WindowsFileSystemUtils.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Deploy v2.3 to GitHub Pages
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Collectors.WindowsFileSystemUtils.html
  v2.3/manifest.json
Due: none

Implement more of the dbmanager
  Lib/Objects/SqlConnectionHolder.cs
  Lib/Utils/SqliteDatabaseManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

More methods impl
  Lib/Utils/SqliteDatabaseManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Updates Dependencies
  Benchmarks/Benchmarks.csproj
  Cli/Cli.csproj
  Lib/Lib.csproj
  Tests/Tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Change requires for new PE Net
  Lib/Collectors/WindowsFileSystemUtils.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Update WindowsFileSystemUtils.cs
  Lib/Collectors/WindowsFileSystemUtils.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Remove extraneous nerdbank.
  Benchmarks/Benchmarks.csproj
  Tests/Tests.csproj
Due: Pipelines/pr-validation.yml

Updates Dependencies (#688)
  Benchmarks/Benchmarks.csproj
  Cli/Cli.csproj
  Lib/Collectors/WindowsFileSystemUtils.cs
  Lib/Lib.csproj
  Tests/Tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Add option to specify gui port
  Cli/AttackSurfaceAnalyzerClient.cs
  Lib/Objects/CommandOptions.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Update AttackSurfaceAnalyzerClient.cs
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Ensure default value is set even when not instantiated with the options parser
  Lib/Objects/CommandOptions.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Add Ability to specify port for Gui command (#693)
  Cli/AttackSurfaceAnalyzerClient.cs
  Lib/Objects/CommandOptions.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Deploy v2.3 to GitHub Pages
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.GuiCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.GuidedModeCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.MonitorCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.VerifyOptions.html
  v2.3/manifest.json
  v2.3/xrefmap.yml
Due: none

Update dependencies
  Cli/Cli.csproj
  Directory.Build.props
  Lib/Lib.csproj
  Tests/Tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Update dependencies (#694)
  Cli/Cli.csproj
  Directory.Build.props
  Lib/Lib.csproj
  Tests/Tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Remove old templates
  Pipelines/core-pipeline.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nbgv-set-version-steps.yml
  Pipelines/templates/nuget-build-job.yml
  Pipelines/templates/sdl-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Create asa-pr.yml
  Pipelines/asa-pr.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Try Lib without package build prop
  Lib/Lib.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Try force restore
  Pipelines/asa-pr.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Move pack flags to right place
  Pipelines/asa-pr.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

target fw experiment
  Pipelines/asa-pr.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

remove custom flag
  Pipelines/asa-pr.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Rename var
  Pipelines/asa-pr.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Update Lib.csproj
  Lib/Lib.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Try building CLI with symbols package
  Cli/Cli.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Create asa-release.yml
  Pipelines/asa-release.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Re-enable release tasks
  Pipelines/asa-release.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Update Pipelines (#695)
  Cli/Cli.csproj
  Pipelines/asa-pr.yml
  Pipelines/asa-release.yml
  Pipelines/core-pipeline.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nbgv-set-version-steps.yml
  Pipelines/templates/nuget-build-job.yml
  Pipelines/templates/sdl-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Fix #696
  Lib/Collectors/WindowsFileSystemUtils.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Fix #696 (#698)
  Lib/Collectors/WindowsFileSystemUtils.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Fix RegistryWalker
  Lib/Utils/RegistryWalker.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml
