Repository microsoft/AttackSurfaceAnalyzer: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Pipelines/core-pipeline.yml:
  name: ASA_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: templates/dotnet-test-job.yml
      parameters:
        projectPath: Tests/Tests.csproj
  - stage: SDL
    dependsOn: Test
    jobs:
    - template: templates/sdl-job.yml
      parameters:
  ...

Pipelines/pr-validation.yml:
  name: ASA PR Validation
  stages:
  - stage: Test
    jobs:
    - job: Windows
      pool:
        vmImage: windows-latest
      steps:
      - script: dotnet tool install -g nbgv
        displayName: Install GitVersioning
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Pipelines/release.yml:
  name: ASA Release
  stages:
  - stage: Test
    jobs:
    - job: Windows
      pool:
        vmImage: windows-latest
      steps:
      - script: dotnet tool install -g nbgv
        displayName: Install GitVersioning
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Move Component Detection to after pack.
  Pipelines/templates/nuget-build-job.yml
  Pipelines/templates/sdl-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Update NuGet to point to Azure Artifacts.
  NuGet.Config
  NuGet.Config.AzureArtifacts
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Update docker reference.
  Tools/Docker/AsaDetonatorLinux/Dockerfile
Due: none

Reroute dotnet tool to public NuGet.
  NuGet.Config.Public
  Pipelines/core-pipeline.yml
  Pipelines/templates/nbgv-set-version-steps.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Update nbgv-set-version-steps.yml
  Pipelines/templates/nbgv-set-version-steps.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Add Component Detection task explicitly. (#657)
  Pipelines/templates/nuget-build-job.yml
  Pipelines/templates/sdl-job.yml
  Tools/Docker/AsaDetonatorLinux/Dockerfile
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Change the other nbgv to update too.
  Pipelines/core-pipeline.yml
  Pipelines/templates/nbgv-set-version-steps.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Update NuGet to point to Azure Artifacts. (#658)
  NuGet.Config.AzureArtifacts
  NuGet.Config.Public
  Pipelines/core-pipeline.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nbgv-set-version-steps.yml
  Pipelines/templates/nuget-build-job.yml
  Tools/Docker/AsaDetonatorLinux/Dockerfile
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Put try around root enumeration
  Lib/Collectors/FileSystemCollector.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Update dependencies
  Benchmarks/Benchmarks.csproj
  Cli/Cli.csproj
  Directory.Build.props
  Lib/Lib.csproj
  Tests/Tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Try Fix Linux File Enumeration (#663)
  Benchmarks/Benchmarks.csproj
  Cli/Cli.csproj
  Directory.Build.props
  Lib/Collectors/FileSystemCollector.cs
  Lib/Lib.csproj
  Tests/Tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Bump dependencies
  Benchmarks/Benchmarks.csproj
  Cli/Cli.csproj
  Directory.Build.props
  Lib/Lib.csproj
  Tests/Tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Bump dependencies (#665)
  Benchmarks/Benchmarks.csproj
  Cli/Cli.csproj
  Directory.Build.props
  Lib/Lib.csproj
  Tests/Tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Rewrite diff generator
  Lib/Collectors/BaseCompare.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Adds some tests for diff behavior
  Tests/DiffTests.cs
Due: Pipelines/pr-validation.yml

Rewrite diff generator (#666)
  Lib/Collectors/BaseCompare.cs
  Tests/DiffTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Deploy v2.3 to GitHub Pages
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Collectors.BaseCompare.html
  v2.3/manifest.json
Due: none

Gather executable type enum explicitly in the FileSystemObject
  Lib/Collectors/FileSystemCollector.cs
  Lib/Objects/FileSystemObject.cs
  analyses.json
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Add filtering to limit analysis result types output
  Cli/AttackSurfaceAnalyzerClient.cs
  Lib/Objects/CommandOptions.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Remove duplicate gitversioning
  Cli/Cli.csproj
  Lib/Lib.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Fix Sarif performance
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Fix exe rule
  analyses.json
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Add Reading Saved Comparisons with Export-Collect Command
  Cli/AttackSurfaceAnalyzerClient.cs
  Lib/Objects/CommandOptions.cs
  Lib/Properties/Resources.resx
  Lib/Utils/SqliteDatabaseManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Fixes pre-filtering of results before inserting into database on Guided and Monitor modes
  Cli/AttackSurfaceAnalyzerClient.cs
  Lib/Objects/CommandOptions.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Fixes some reported issues (#668)
  Cli/AttackSurfaceAnalyzerClient.cs
  Cli/Cli.csproj
  Lib/Collectors/FileSystemCollector.cs
  Lib/Lib.csproj
  Lib/Objects/CommandOptions.cs
  Lib/Objects/FileSystemObject.cs
  Lib/Properties/Resources.resx
  Lib/Utils/SqliteDatabaseManager.cs
  analyses.json
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Deploy v2.3 to GitHub Pages
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.CollectCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.CollectorOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.CommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.CompareCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.ConfigCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.ExportCollectCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.ExportGuidedCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.ExportMonitorCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.ExportOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.GuiCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.GuidedModeCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.MonitorCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.FileSystemObject.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Utils.DBSettings.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Utils.SqliteDatabaseManager.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.VerifyOptions.html
  v2.3/manifest.json
  v2.3/xrefmap.yml
Due: none

Minor changes missed from last PR
  Lib/Objects/FileSystemObject.cs
  analyses.json
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Add explicit codeql init and finalize
  Pipelines/core-pipeline.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Attempt 2
  Pipelines/core-pipeline.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Other pipelines too
  Pipelines/core-pipeline.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

remove dupes per cpnvo
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Attempt fix codeql init running (#669)
  Lib/Objects/FileSystemObject.cs
  Pipelines/core-pipeline.yml
  Pipelines/templates/nuget-build-job.yml
  analyses.json
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Deploy v2.3 to GitHub Pages
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.FileSystemObject.html
  v2.3/manifest.json
Due: none

Fix #670
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Fix #670 (#671)
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Fix Saving Rules
  Cli/Pages/_Host.cshtml
  Cli/wwwroot/js/SaveFile.js
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Fix Saving Rules In Gui (#673)
  Cli/Pages/_Host.cshtml
  Cli/wwwroot/js/SaveFile.js
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Update to net 7 and update dependencies
  Cli/Cli.csproj
  Lib/Collectors/BaseCompare.cs
  Lib/Lib.csproj
  Lib/Utils/SqliteDatabaseManager.cs
  Tests/Tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: Cli, Lib, Pipelines, analyses.json
  Pipelines/pr-validation.yml: any of: Cli, Lib, Tests, Benchmarks, Pipelines, analyses.json
  Pipelines/release.yml: any of: Cli, Lib
