Repository microsoft/AttackSurfaceAnalyzer: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: Cli, Lib, Pipelines, analyses.json
  Pipelines/pr-validation.yml: any of: Cli, Lib, Tests, Benchmarks, Pipelines, analyses.json
  Pipelines/release.yml: any of: Cli, Lib

Add SBOM Gathering (#636)
  Lib/Collectors/FileSystemCollector.cs
  Lib/Collectors/WindowsFileSystemUtils.cs
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Fix manifest collision in pipeline.
  Pipelines/core-pipeline.yml
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Fix manifest collision in pipeline. (#637)
  Pipelines/core-pipeline.yml
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Bump Dependencies.
  Cli/Cli.csproj
  Lib/Lib.csproj
  Tests/Tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Slightly improve performance reducing number of linq calls.
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Bump Dependencies. (#639)
  Cli/AttackSurfaceAnalyzerClient.cs
  Cli/Cli.csproj
  Lib/Lib.csproj
  Tests/Tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Changes from default .net 6
  Cli/Pages/_Layout.cshtml
  Cli/Properties/launchSettings.json
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Add single threaded analysis option
  Cli/AttackSurfaceAnalyzerClient.cs
  Cli/Properties/launchSettings.json
  Lib/Objects/CommandOptions.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Pass through the single thread analysis parameter from the cli
  Cli/AttackSurfaceAnalyzerClient.cs
  Lib/Objects/CommandOptions.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Add Additional Logging for #638 (#641)
  Cli/AttackSurfaceAnalyzerClient.cs
  Cli/Pages/_Layout.cshtml
  Cli/Properties/launchSettings.json
  Lib/Objects/CommandOptions.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Deploy v2.3 to GitHub Pages
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.CompareCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.ConfigCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.ExportCollectCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.ExportGuidedCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.ExportMonitorCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.ExportOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.GuiCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.GuidedModeCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.MonitorCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.VerifyOptions.html
  v2.3/manifest.json
  v2.3/xrefmap.yml
Due: none

Fix #638
  Cli/AttackSurfaceAnalyzerClient.cs
  Cli/Components/States/Results.razor
  Cli/Properties/launchSettings.json
  Lib/Collectors/BaseCompare.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Fix #638 (#643)
  Cli/AttackSurfaceAnalyzerClient.cs
  Cli/Components/States/Results.razor
  Cli/Properties/launchSettings.json
  Lib/Collectors/BaseCompare.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Deploy v2.3 to GitHub Pages
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Collectors.BaseCompare.html
  v2.3/manifest.json
Due: none

Rename analysis file cli parameter to be AnalysisFile instead of "filename"
  Lib/Objects/CommandOptions.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Clean up leftovers from debugging #638
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Adds configuration option for the notify filters that are used.
  Lib/Collectors/FileSystemMonitor.cs
  Lib/Objects/CommandOptions.cs
  Tests/CollectorTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Adds configuration option for the notify filters that are used. (#647)
  Lib/Collectors/FileSystemMonitor.cs
  Lib/Objects/CommandOptions.cs
  Tests/CollectorTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Deploy v2.3 to GitHub Pages
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.CollectCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.CollectorOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Collectors.FileSystemMonitor.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.CommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.CompareCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.ConfigCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.ExportCollectCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.ExportGuidedCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.ExportMonitorCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.ExportOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.GuiCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.GuidedModeCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.MonitorCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.VerifyOptions.html
  v2.3/manifest.json
  v2.3/xrefmap.yml
Due: none

Update README.md
  README.md
Due: none

Try Fix #649
  Lib/Collectors/OpenPortCollector.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Better parsing replacement.
  Lib/Collectors/OpenPortCollector.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Try Fix #649 (#651)
  Lib/Collectors/OpenPortCollector.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Fix #649
  Lib/Collectors/OpenPortCollector.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Fix #652
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Gfs/649+652 (#653)
  Cli/AttackSurfaceAnalyzerClient.cs
  Lib/Collectors/OpenPortCollector.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Remove stray debugging print.
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Removed unused dependency.
  Lib/Lib.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Update Dependencies
  Benchmarks/Benchmarks.csproj
  Cli/Cli.csproj
  Directory.Build.props
  Lib/Lib.csproj
  Tests/Tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Fix DEP and ASLR Rules (#656)
  Benchmarks/Benchmarks.csproj
  Cli/AttackSurfaceAnalyzerClient.cs
  Cli/Cli.csproj
  Directory.Build.props
  Lib/Lib.csproj
  Tests/Tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml, Pipelines/release.yml

Add Component Detection task explicitly.
  Pipelines/templates/sdl-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/pr-validation.yml

Update Dockerfile to pull from mcr.
  Tools/Docker/AsaDetonatorLinux/Dockerfile
Due: none
