Repository microsoft/AttackSurfaceAnalyzer: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/pr-validation.yml, Pipelines/release.yml

Path conditions:
  Pipelines/pr-validation.yml: any of: Cli, Lib, Tests, Benchmarks, Pipelines, analyses.json
  Pipelines/release.yml: any of: Cli, Lib

Registry collector Add paths
  Blazor/Components/CollectorOptions/RegistryCollectorOptions.razor
  Blazor/Components/CollectorOptions/UserCollectorOptions.Razor
  Lib/Collectors/RegistryCollector.cs
  Lib/Objects/CommandOptions.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update Title & Icon
  Blazor/Pages/_Host.cshtml
  Blazor/wwwroot/favicon.ico
Due: none

Fix Add/Removing selected directories in options
  Blazor/Components/CollectorOptions/FileCollectorOptions.razor
  Blazor/Components/CollectorOptions/RegistryCollectorOptions.razor
  Blazor/Components/MonitorOptions/FileMonitorOptions.razor
  Lib/Collectors/FileSystemMonitor.cs
  Lib/Collectors/WifiCollector.cs
  Lib/Objects/CommandOptions.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update Collector Titles
  Blazor/Components/CollectorOptions/CryptographicKeyCollectorOptions.razor
  Blazor/Components/CollectorOptions/TpmCollectorOptions.Razor
  Blazor/Components/CollectorOptions/WifiCollectorOptions.Razor
Due: none

Update README.md
  README.md
Due: none

Fix FileMonitor
  Blazor/Components/MonitorOptions/FileMonitorOptions.razor
  Blazor/Pages/Guided.razor
  Lib/Collectors/FileSystemMonitor.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix Monitor mode analysis results showing
  Blazor/AttackSurfaceAnalyzerClient.cs
  analyses.json
Due: Pipelines/pr-validation.yml

Remove unneeded glow
  Blazor/Components/AnalyzeOptionsRazor.razor
Due: none

Guided Page Fixes
  Blazor/Pages/Guided.razor
Due: none

Format Results
  Blazor/Components/States/Results.razor
  Blazor/wwwroot/css/site.css
Due: none

Remove Results Counter HTML
  Blazor/Components/States/Results.razor
Due: none

Add NoLaunch options to disable launching browser
  Blazor/AttackSurfaceAnalyzerClient.cs
  Blazor/Properties/launchSettings.json
  Lib/Objects/CommandOptions.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Remove old Cli references
  AttackSurfaceAnalyzer.sln
  Tests/Tests.csproj
Due: Pipelines/pr-validation.yml

Update <p> Font
  Blazor/wwwroot/css/site.css
Due: none

Add Spinners
  Blazor/Components/States/Analyzing.razor
  Blazor/Components/States/Monitoring.razor
  Blazor/Components/States/Scanning.razor
Due: none

Update FileCollectorOptions.razor
  Blazor/Components/CollectorOptions/FileCollectorOptions.razor
Due: none

Fix Options and Label Sizes
  Blazor/wwwroot/css/site.css
Due: none

Update RegistryCollectorOptions.razor
  Blazor/Components/CollectorOptions/RegistryCollectorOptions.razor
Due: none

Remove Random Div
  Blazor/Pages/Guided.razor
Due: none

Build break fix
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml

Update Tests.csproj
  Tests/Tests.csproj
Due: Pipelines/pr-validation.yml

Implementes Analyze and Scan Pages
  Cli/Components/States/Results.razor
  Cli/Pages/Analyze.razor
  Cli/Pages/Guided.razor
  Cli/Pages/Report.razor
  Cli/Pages/Scan.razor
  Cli/_Imports.razor
  Lib/Utils/DatabaseManager.cs
  Lib/Utils/SqliteDatabaseManager.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update sdl-job.yml
  Pipelines/templates/sdl-job.yml
Due: Pipelines/pr-validation.yml

Bump dependencies.
  Benchmarks/Benchmarks.csproj
  Cli/Cli.csproj
  GenerateDocfx/GenerateDocfx.csproj
  Lib/Lib.csproj
  Tests/Tests.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update Cli.csproj
  Cli/Cli.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update Cli.csproj (#536)
  Cli/Cli.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update Pipeline Structure
  Pipelines/core-pipeline.yml
  Pipelines/pr-validation.yml
  Pipelines/release.yml
  Pipelines/sdl.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nbgv-set-version-steps.yml
  Pipelines/templates/nuget-build-job.yml
  Pipelines/templates/sdl-job.yml
Due: Pipelines/pr-validation.yml

Update release/2.2 Pipeline Structure (#537)
  Pipelines/core-pipeline.yml
  Pipelines/pr-validation.yml
  Pipelines/release.yml
  Pipelines/sdl.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nbgv-set-version-steps.yml
  Pipelines/templates/nuget-build-job.yml
  Pipelines/templates/sdl-job.yml
Due: Pipelines/pr-validation.yml

Add Authoring Page
  Cli/AppData.cs
  Cli/AttackSurfaceAnalyzerClient.cs
  Cli/Cli.csproj
  Cli/ComponentCollapsedState.cs
  Cli/Components/Inputs/BoolInput.razor
  Cli/Components/Inputs/ByteInput.razor
  Cli/Components/Inputs/CharInput.razor
  Cli/Components/Inputs/ClauseInput.razor
  Cli/Components/Inputs/DateTimeInput.razor
  Cli/Components/Inputs/DecimalInput.razor
  Cli/Components/Inputs/DoubleInput.razor
  Cli/Components/Inputs/EnumInput.razor
  Cli/Components/Inputs/FileUpload.razor
  Cli/Components/Inputs/FlagsInput.razor
  Cli/Components/Inputs/FloatInput.razor
  Cli/Components/Inputs/IntInput.razor
  Cli/Components/Inputs/ListKvpStringStringInput.razor
  Cli/Components/Inputs/ListStringInput.razor
  Cli/Components/Inputs/LongInput.razor
  Cli/Components/Inputs/ObjectInput.razor
  Cli/Components/Inputs/PropertyInput.razor
  Cli/Components/Inputs/RuleInput.razor
  Cli/Components/Inputs/ShortInput.razor
  Cli/Components/Inputs/StringBoxInput.razor
  Cli/Components/Inputs/StringInput.razor
  Cli/Components/Inputs/TypesInput.razor
  Cli/Components/Inputs/UintInput.razor
  Cli/Components/Inputs/UlongInput.razor
  Cli/Components/Inputs/UshortInput.razor
  Cli/IntHolder.cs
  Cli/Pages/Author.razor
  Cli/Pages/Sandbox.razor
  Cli/Properties/launchSettings.json
  Cli/SandboxState.cs
  Cli/Startup.cs
  Lib/Lib.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Working Author Page
  Cli/Components/Inputs/PropertyInput.razor
  Cli/Pages/Author.razor
  Cli/Pages/Sandbox.razor
  Cli/Shared/NavMenu.razor
Due: Pipelines/pr-validation.yml, Pipelines/release.yml
