Repository microsoft/AttackSurfaceAnalyzer: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/pr-validation.yml, Pipelines/release.yml

Path conditions:
  Pipelines/pr-validation.yml: any of: Cli, Lib, Tests, Benchmarks, Pipelines, analyses.json
  Pipelines/release.yml: any of: Cli, Lib

Update dependencies
  Benchmarks/Benchmarks.csproj
  Lib/Collectors/FileSystemCollector.cs
  Lib/Collectors/TpmCollector.cs
  Lib/GlobalSuppressions.cs
  Lib/Lib.csproj
  Lib/Objects/AsaNvIndex.cs
  Tests/CollectorTests.cs
  Tests/Tests.csproj
  Tests/TpmSim.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update Analyzer.cs
  Lib/Utils/Analyzer.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Adds task for sdl 1cs early adopter POC.
  Pipelines/sdl.yml
Due: Pipelines/pr-validation.yml

Update pipelines.
  Pipelines/pr-validation.yml
  Pipelines/sdl.yml
Due: Pipelines/pr-validation.yml

Update version.json
  version.json
Due: none

Update README.md
  README.md
Due: none

s/master/main
  Cli/Views/Home/Index.cshtml
  GenerateDocfx/index.md
  README.md
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Clean up service collector.
  Lib/Collectors/ServiceCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix #497
  Cli/Program.cs
  Lib/Objects/CollectObject.cs
  Lib/Objects/WriteObject.cs
  Lib/Utils/DatabaseManager.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix Sometimes Duplicate results appearing as non-duplicate (#501)
  Cli/Program.cs
  Lib/Collectors/ServiceCollector.cs
  Lib/Objects/CollectObject.cs
  Lib/Objects/WriteObject.cs
  Lib/Utils/DatabaseManager.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix #497 on 2.2
  Lib/Objects/CollectObject.cs
  Lib/Objects/WriteObject.cs
  Lib/Utils/DatabaseManager.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix #497 on 2.2 (#502)
  Lib/Objects/CollectObject.cs
  Lib/Objects/WriteObject.cs
  Lib/Utils/DatabaseManager.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Adds a "Fetching results" string when fetching results in GUI
  Cli/wwwroot/American-English.json
  Cli/wwwroot/js/Results.js
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix #498
  Cli/wwwroot/American-English.json
  Cli/wwwroot/js/Results.js
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Adds a "Fetching results" string when fetching results in GUI (#503)
  Cli/wwwroot/American-English.json
  Cli/wwwroot/js/Results.js
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix #498 (#504)
  Cli/wwwroot/American-English.json
  Cli/wwwroot/js/Results.js
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add Process Gathering
  Cli/Program.cs
  Lib/Collectors/ProcessCollector.cs
  Lib/Objects/CommandOptions.cs
  Lib/Objects/ProcessModuleObject.cs
  Lib/Objects/ProcessObject.cs
  Lib/Objects/RuleFile.cs
  Lib/Objects/Types.cs
  Lib/Utils/DatabaseManager.cs
  Lib/Utils/JsonUtils.cs
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add Hydration Tests for Process Object
  Benchmarks/CommitTest.cs
  Benchmarks/SystemSqliteInsertTests.cs
  Lib/Collectors/ProcessCollector.cs
  Lib/Objects/ProcessObject.cs
  Tests/HydrationTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Remove exitcode which isn't available for running processes
  Lib/Objects/ProcessObject.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix warnings
  Benchmarks/InsertTestsWithIntermittentTransactions.cs
  Benchmarks/InsertTestsWithoutTransactions.cs
  Benchmarks/LiteDbQueryTests.cs
  Benchmarks/OpenTransactionTest.cs
  Benchmarks/QueryTests.cs
  Benchmarks/SetupTimeTest.cs
Due: Pipelines/pr-validation.yml

Update ProcessObject.cs
  Lib/Objects/ProcessObject.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Try around process collector collections.
  Lib/Collectors/ProcessCollector.cs
  Lib/Objects/ProcessObject.cs
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix Rehydration of ProcessObjects
  Lib/Objects/ProcessModuleObject.cs
  Lib/Objects/SerializableFileVersionInfo.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add Process Collector (#505)
  Benchmarks/CommitTest.cs
  Benchmarks/InsertTestsWithIntermittentTransactions.cs
  Benchmarks/InsertTestsWithoutTransactions.cs
  Benchmarks/LiteDbQueryTests.cs
  Benchmarks/OpenTransactionTest.cs
  Benchmarks/QueryTests.cs
  Benchmarks/SetupTimeTest.cs
  Benchmarks/SystemSqliteInsertTests.cs
  Cli/Program.cs
  Cli/Views/Home/Index.cshtml
  GenerateDocfx/index.md
  Lib/Collectors/ProcessCollector.cs
  Lib/Objects/CommandOptions.cs
  Lib/Objects/ProcessModuleObject.cs
  Lib/Objects/ProcessObject.cs
  Lib/Objects/RuleFile.cs
  Lib/Objects/SerializableFileVersionInfo.cs
  Lib/Objects/Types.cs
  Lib/Utils/DatabaseManager.cs
  Lib/Utils/JsonUtils.cs
  README.md
  Tests/CollectorTests.cs
  Tests/HydrationTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add Windows Driver Collector
  Cli/Program.cs
  Lib/Collectors/DriverCollector.cs
  Lib/Lib.csproj
  Lib/Objects/CommandOptions.cs
  Lib/Objects/DriverObject.cs
  Lib/Objects/FileMonitorObject.cs
  Lib/Objects/RuleFile.cs
  Lib/Objects/Types.cs
  Lib/Utils/JsonUtils.cs
  Tests/CollectorTests.cs
  Tests/HydrationTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add MacOs Driver Collector
  Cli/Program.cs
  Lib/Collectors/DriverCollector.cs
  Lib/Objects/DriverObject.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add Signature status to DriverCollector on Windows
  Lib/Collectors/DriverCollector.cs
  Lib/Objects/DriverObject.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add Linux Service Collector
  Lib/Collectors/DriverCollector.cs
  Lib/Objects/DriverObject.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update DriverCollector.cs
  Lib/Collectors/DriverCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Implement Driver Collector (#506)
  Cli/Program.cs
  Lib/Collectors/DriverCollector.cs
  Lib/Lib.csproj
  Lib/Objects/CommandOptions.cs
  Lib/Objects/DriverObject.cs
  Lib/Objects/FileMonitorObject.cs
  Lib/Objects/RuleFile.cs
  Lib/Objects/Types.cs
  Lib/Utils/JsonUtils.cs
  Tests/CollectorTests.cs
  Tests/HydrationTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Rewriting DatabaseManager to be an inheritable class
  AttackSurfaceAnalyzer.sln
  Benchmarks/Benchmarks.csproj
  Cli/Program.cs
  Lib/Collectors/BaseCompare.cs
  Lib/Utils/AsaTelemetry.cs
  Lib/Utils/DatabaseManager.cs
  Lib/Utils/SqliteDatabaseManager.cs
  Tests/AnalyzerExpressionsTests.cs
  Tests/AnalyzerOperationsTests.cs
  Tests/CollectorTests.cs
  Tests/HydrationTests.cs
  Tests/InMemoryComparatorTests.cs
  Tests/Tests.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Some fixes
  Cli/Controllers/HomeController.cs
  Cli/Program.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Finish Abstractifying Database manager
  Benchmarks/CommitTest.cs
  Benchmarks/InsertTestsWithIntermittentTransactions.cs
  Cli/Controllers/HomeController.cs
  Cli/Program.cs
  Lib/Utils/DatabaseManager.cs
  Lib/Utils/SqliteDatabaseManager.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix FileMonitor test
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml

Update Benchmarks.csproj
  Benchmarks/Benchmarks.csproj
Due: Pipelines/pr-validation.yml
