Repository microsoft/AttackSurfaceAnalyzer: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/pr-validation.yml, Pipelines/release.yml

Path conditions:
  Pipelines/pr-validation.yml: any of: Cli, Lib, Tests, Benchmarks, Pipelines, analyses.json
  Pipelines/release.yml: any of: Cli, Lib

Replace du calls with function calls for performance
  Lib/Collectors/FileSystemCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix FileCollector Performance on Mac (#484)
  AttackSurfaceAnalyzer.sln
  Benchmarks/CommitTest.cs
  Cli/Cli.csproj
  Cli/Program.cs
  Cli/Properties/launchSettings.json
  Lib/Collectors/BaseCollector.cs
  Lib/Collectors/CertificateCollector.cs
  Lib/Collectors/ComObjectCollector.cs
  Lib/Collectors/CryptographicKeyCollector.cs
  Lib/Collectors/EventLogCollector.cs
  Lib/Collectors/FileSystemCollector.cs
  Lib/Collectors/FileSystemMonitor.cs
  Lib/Collectors/FirewallCollector.cs
  Lib/Collectors/OpenPortCollector.cs
  Lib/Collectors/RegistryCollector.cs
  Lib/Collectors/ServiceCollector.cs
  Lib/Collectors/TpmCollector.cs
  Lib/Collectors/UserAccountCollector.cs
  Lib/Objects/FileSystemObject.cs
  Lib/Utils/DatabaseManager.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Replace du calls with function calls for performance (#486)
  Lib/Collectors/FileSystemCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update dependencies
  Lib/Collectors/FileSystemCollector.cs
  Lib/Lib.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Port changes from old PR
  Cli/Properties/launchSettings.json
  Cli/wwwroot/js/site.js
  Lib/Collectors/TpmCollector.cs
  Lib/Objects/AsaNvIndex.cs
  Lib/Objects/CryptographicKeyObject.cs
  Lib/Objects/TpmObject.cs
  Lib/Objects/Types.cs
  Lib/Utils/DatabaseManager.cs
  Lib/Utils/JsonUtils.cs
  Tests/AnalyzerExpressionsTests.cs
  Tests/AnalyzerOperationsTests.cs
  Tests/CollectorTests.cs
  Tests/ComparatorTests.cs
  Tests/DatabaseManagerTests.cs
  Tests/HydrationTests.cs
  Tests/InDatabaseComparatorTests.cs
  Tests/InMemoryComparatorTests.cs
  Tests/TpmSim.cs
  analyses.json
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add TpmSimulator binaries
  Tests/Tests.csproj
  Tests/TpmSim/Simulator.exe
  Tests/TpmSim/concrt140d.dll
  Tests/TpmSim/msvcp140_1d.dll
  Tests/TpmSim/msvcp140_2d.dll
  Tests/TpmSim/msvcp140d.dll
  Tests/TpmSim/tpm.dll
  Tests/TpmSim/vccorlib140d.dll
  Tests/TpmSim/vcruntime140d.dll
Due: Pipelines/pr-validation.yml

Fixes
  Lib/Collectors/TpmCollector.cs
  Lib/Utils/DatabaseManager.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Remainder of changes from old PR
  AttackSurfaceAnalyzer.sln
  Lib/Collectors/FileSystemCollector.cs
  Lib/Collectors/TpmCollector.cs
  Lib/Objects/CryptographicKeyObject.cs
  Lib/Utils/Analyzer.cs
  Tests/AnalyzerExpressionsTests.cs
  Tests/CollectorTests.cs
  Tests/ComparatorTests.cs
  Tests/HydrationTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Remove TPM Components of PR
  Lib/Collectors/TpmCollector.cs
  Lib/Objects/AsaNvIndex.cs
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add TPM Support with TSS.NET Cleaner (#489)
  AttackSurfaceAnalyzer.sln
  Cli/Properties/launchSettings.json
  Cli/wwwroot/js/site.js
  Lib/Collectors/FileSystemCollector.cs
  Lib/Objects/CryptographicKeyObject.cs
  Lib/Objects/TpmObject.cs
  Lib/Objects/Types.cs
  Lib/Utils/Analyzer.cs
  Lib/Utils/DatabaseManager.cs
  Lib/Utils/JsonUtils.cs
  Tests/AnalyzerExpressionsTests.cs
  Tests/AnalyzerOperationsTests.cs
  Tests/CollectorTests.cs
  Tests/ComparatorTests.cs
  Tests/DatabaseManagerTests.cs
  Tests/HydrationTests.cs
  Tests/InDatabaseComparatorTests.cs
  Tests/InMemoryComparatorTests.cs
  Tests/Tests.csproj
  Tests/TpmSim.cs
  Tests/TpmSim/Simulator.exe
  Tests/TpmSim/concrt140d.dll
  Tests/TpmSim/msvcp140_1d.dll
  Tests/TpmSim/msvcp140_2d.dll
  Tests/TpmSim/msvcp140d.dll
  Tests/TpmSim/tpm.dll
  Tests/TpmSim/vccorlib140d.dll
  Tests/TpmSim/vcruntime140d.dll
  analyses.json
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add TPM Collection Logic and Test
  Lib/Collectors/TpmCollector.cs
  Lib/Objects/AsaNvIndex.cs
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix Tpm Collector Tests
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml

Reduce verbosity of failure to dump specific pcr bank.
  Lib/Collectors/TpmCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Improve logging verbosity in tpm collector
  Lib/Collectors/TpmCollector.cs
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix TPM Tests
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml

Try a bit harder to read NV indices. Improve the logging when failing.
  Lib/Collectors/TpmCollector.cs
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update CollectorTests.cs
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml

Create SUPPORT.md
  SUPPORT.md
Due: none

Update TpmCollector.cs
  Lib/Collectors/TpmCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add support for gathering Algorithms and Commands
  Lib/Collectors/TpmCollector.cs
  Lib/Objects/TpmObject.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Try around fetching
  Lib/Collectors/TpmCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Only attempt to fetch pcrs that exist
  Lib/Collectors/TpmCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Catch cases where TPM Collector is not supported
  Lib/Collectors/TpmCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Remove code for future TODO
  Lib/Collectors/TpmCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Check that pcrs were gathered
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml

Fix PCR Gathering
  Lib/Collectors/TpmCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add TPM Collection Logic and Test (#490)
  Lib/Collectors/TpmCollector.cs
  Lib/Objects/AsaNvIndex.cs
  Lib/Objects/TpmObject.cs
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix TpmCollector calling HandleChange
  Lib/Collectors/TpmCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix TPM Result Analysis
  Lib/Collectors/BaseCompare.cs
  Lib/Collectors/TpmCollector.cs
  Lib/Objects/RuleFile.cs
  Lib/Objects/TpmObject.cs
  Lib/Utils/Analyzer.cs
  Lib/Utils/JsonUtils.cs
  Tests/CollectorTests.cs
  analyses.json
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update Analyzer.cs
  Lib/Utils/Analyzer.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix TPM Result Analysis (#494)
  Lib/Collectors/BaseCompare.cs
  Lib/Collectors/TpmCollector.cs
  Lib/Objects/RuleFile.cs
  Lib/Objects/TpmObject.cs
  Lib/Utils/Analyzer.cs
  Lib/Utils/JsonUtils.cs
  Tests/CollectorTests.cs
  analyses.json
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update GetValueByPropertyString
  AttackSurfaceAnalyzer.sln
  Lib/Utils/Analyzer.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add ContainsKey operation
  Lib/Objects/Types.cs
  Lib/Properties/Resources.resx
  Lib/Utils/Analyzer.cs
  Tests/AnalyzerExpressionsTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add test for was modified PCRs
  Tests/AnalyzerExpressionsTests.cs
Due: Pipelines/pr-validation.yml

Add Root of Trust modified rules for TPM
  analyses.json
Due: Pipelines/pr-validation.yml

Fix bug in analyzer
  Lib/Utils/Analyzer.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update TPM Root of Trust Rules
  analyses.json
Due: Pipelines/pr-validation.yml

Add ContainsKey operation (#495)
  Lib/Objects/Types.cs
  Lib/Properties/Resources.resx
  Lib/Utils/Analyzer.cs
  Tests/AnalyzerExpressionsTests.cs
  analyses.json
Due: Pipelines/pr-validation.yml, Pipelines/release.yml
