Repository microsoft/AttackSurfaceAnalyzer: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/pr-validation.yml, Pipelines/release.yml

Pipelines/pr-validation.yml:
  name: ASA PR Validation
  stages:
  - stage: Test
    jobs:
    - job: Windows
      pool:
        vmImage: windows-latest
      steps:
      - script: dotnet tool install -g nbgv
        displayName: Install GitVersioning
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Pipelines/release.yml:
  name: ASA Release
  stages:
  - stage: Test
    jobs:
    - job: Windows
      pool:
        vmImage: windows-latest
      steps:
      - script: dotnet tool install -g nbgv
        displayName: Install GitVersioning
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Update Readme.md (#581)
  Lib/Collectors/FileSystemMonitor.cs
  README.md
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Deploy to GitHub Pages
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Collectors.FileSystemMonitor.html
  manifest.json
Due: none

Update OpenPortCollector.cs
  Lib/Collectors/OpenPortCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update CommandOptions.cs
  Lib/Objects/CommandOptions.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix Getting Process Names
  Cli/Components/CollectorOptions/FileCollectorOptions.razor
  Cli/Components/CollectorOptions/RegistryCollectorOptions.razor
  Cli/Components/MonitorOptions/FileMonitorOptions.razor
  Lib/Utils/Win32OpenPortListenerHelper.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update EventLogCollector.cs
  Lib/Collectors/EventLogCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update FileSystemMonitor.cs
  Lib/Collectors/FileSystemMonitor.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update CollectorTests.cs
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml

Update version.json
  version.json
Due: none

Gfs/#579 (#582)
  Cli/Components/CollectorOptions/FileCollectorOptions.razor
  Cli/Components/CollectorOptions/RegistryCollectorOptions.razor
  Cli/Components/MonitorOptions/FileMonitorOptions.razor
  Lib/Collectors/EventLogCollector.cs
  Lib/Collectors/FileSystemMonitor.cs
  Lib/Collectors/OpenPortCollector.cs
  Lib/Objects/CommandOptions.cs
  Lib/Utils/Win32OpenPortListenerHelper.cs
  Tests/CollectorTests.cs
  version.json
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Deploy v2.3 to GitHub Pages
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.CollectorOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.GuidedModeCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.MonitorCommandOptions.html
  v2.3/manifest.json
Due: none

Gfs/#579 (#583)
  Cli/Components/CollectorOptions/FileCollectorOptions.razor
  Cli/Components/CollectorOptions/RegistryCollectorOptions.razor
  Cli/Components/MonitorOptions/FileMonitorOptions.razor
  Lib/Collectors/EventLogCollector.cs
  Lib/Collectors/FileSystemMonitor.cs
  Lib/Collectors/OpenPortCollector.cs
  Lib/Objects/CommandOptions.cs
  Lib/Utils/Win32OpenPortListenerHelper.cs
  Tests/CollectorTests.cs
  version.json
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Deploy to GitHub Pages
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.CollectorOptions.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.GuidedModeCommandOptions.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.MonitorCommandOptions.html
  manifest.json
Due: none

Update Cli.csproj
  Cli/Cli.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update AttackSurfaceAnalyzerClient.cs
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update CSS Path
  Cli/Pages/_Host.cshtml
  Cli/wwwroot/css/asa.css
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
Due: Pipelines/pr-validation.yml

Update BUILD.md
  BUILD.md
Due: none

Fix package content for ASA (#586)
  BUILD.md
  Cli/AttackSurfaceAnalyzerClient.cs
  Cli/Cli.csproj
  Cli/Pages/_Host.cshtml
  Cli/wwwroot/css/asa.css
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Deploy to GitHub Pages
  api/api/index.html
  manifest.json
  toc.html
  xrefmap.yml
Due: none

Deploy v2.3 to GitHub Pages
  v2.3/api/api/index.html
  v2.3/manifest.json
  v2.3/toc.html
  v2.3/xrefmap.yml
Due: none

Update core-pipeline.yml
  Pipelines/core-pipeline.yml
Due: Pipelines/pr-validation.yml

Fix version mistake (#588)
  Pipelines/core-pipeline.yml
  version.json
Due: Pipelines/pr-validation.yml

Path conditions:
  Pipelines/pr-validation.yml: any of: Cli, Lib, Tests, Benchmarks, Pipelines, analyses.json
  Pipelines/release.yml: any of: Cli, Lib
