Repository microsoft/AttackSurfaceAnalyzer: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/pr-validation.yml, Pipelines/release.yml

Pipelines/pr-validation.yml:
  name: ASA PR Validation
  stages:
  - stage: Test
    jobs:
    - job: Windows
      pool:
        vmImage: windows-latest
      steps:
      - script: dotnet tool install -g nbgv
        displayName: Install GitVersioning
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Pipelines/release.yml:
  name: ASA Release
  stages:
  - stage: Test
    jobs:
    - job: Windows
      pool:
        vmImage: windows-latest
      steps:
      - script: dotnet tool install -g nbgv
        displayName: Install GitVersioning
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Fix #419 (#422)
  Lib/Collectors/RegistryCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix Verbose logging statements.
  Lib/Collectors/RegistryCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update PeNet
  Lib/Lib.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Try each access control section separately
  Lib/Collectors/FileSystemCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Reduce the size of blobs in the database.
  Lib/Utils/JsonUtils.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Populate missing default fields.
  Lib/Utils/JsonUtils.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Collect signature information on windows binaries on linux
  Lib/Collectors/FileSystemCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Reduce verbosity of GetSignatureStatus. Use the IsPeFile instead of NeedsSignature
  Lib/Collectors/WindowsFileSystemUtils.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Remove redundant timer for each collector.
  Cli/Program.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Remove unneeeed namespace.
  Lib/Collectors/BaseCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Reduce importance of failed to get permissions error.
  Lib/Collectors/FileSystemCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Make WriteObject a class instead of a struct.
  Lib/Objects/WriteObject.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Comment update
  Lib/Utils/JsonUtils.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Catch more exceptions in WriteNext.
  Lib/Objects/SqlConnectionHolder.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Only attempt to Run TPM Collector on Linux and Windows
  Cli/Program.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Use ConcurrentStack instead of List in BaseCollector
  Lib/Collectors/BaseCollector.cs
  Lib/Collectors/CertificateCollector.cs
  Lib/Collectors/ComObjectCollector.cs
  Lib/Collectors/EventLogCollector.cs
  Lib/Collectors/FileSystemCollector.cs
  Lib/Collectors/FirewallCollector.cs
  Lib/Collectors/OpenPortCollector.cs
  Lib/Collectors/RegistryCollector.cs
  Lib/Collectors/ServiceCollector.cs
  Lib/Collectors/UserAccountCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix ETA
  Cli/Program.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Catch more exception types properly in FileSystemCollector.
  Lib/Collectors/FileSystemCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Gather signatures on Mac OS
  Lib/Collectors/FileSystemCollector.cs
  Lib/Collectors/FileSystemUtils.cs
  Lib/Objects/FileSystemObject.cs
  Lib/Objects/MacSignature.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix Mac signature gathering.
  Lib/Collectors/FileSystemCollector.cs
  Lib/Collectors/FileSystemUtils.cs
  Lib/Objects/MacSignature.cs
  Lib/Utils/ExternalCommandRunner.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Use ConcurrentStack so we can use PopRange
  Lib/Objects/SqlConnectionHolder.cs
  Lib/Utils/DatabaseManager.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Increase batch size to 100
  Lib/Utils/DatabaseManager.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Remove unused record count field.
  Lib/Objects/SqlConnectionHolder.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add Increase shards warning when flushing for over 10 seconds.
  Cli/Program.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Rewrite FileCompare test to noot depend on the collector.
  Tests/ComparatorTests.cs
Due: Pipelines/pr-validation.yml

Add extra test case to validate diff is working.
  Tests/ComparatorTests.cs
Due: Pipelines/pr-validation.yml

Fix TestFileCompare test
  Tests/ComparatorTests.cs
Due: Pipelines/pr-validation.yml

Remove slow running redundant tests
  Tests/ComparatorTests.cs
Due: Pipelines/pr-validation.yml

Update ComparatorTests.cs
  Tests/ComparatorTests.cs
Due: Pipelines/pr-validation.yml

Rewrite comparator tests.
  Tests/ComparatorTests.cs
Due: Pipelines/pr-validation.yml

Add api arguments to crawl only portions of hives.
  Lib/Collectors/RegistryCollector.cs
  Lib/Utils/RegistryWalker.cs
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Improve Reliability of Get Owner and Group on Windows (#425)
  Cli/Program.cs
  Lib/Collectors/BaseCollector.cs
  Lib/Collectors/CertificateCollector.cs
  Lib/Collectors/ComObjectCollector.cs
  Lib/Collectors/EventLogCollector.cs
  Lib/Collectors/FileSystemCollector.cs
  Lib/Collectors/FileSystemUtils.cs
  Lib/Collectors/FirewallCollector.cs
  Lib/Collectors/OpenPortCollector.cs
  Lib/Collectors/RegistryCollector.cs
  Lib/Collectors/ServiceCollector.cs
  Lib/Collectors/UserAccountCollector.cs
  Lib/Collectors/WindowsFileSystemUtils.cs
  Lib/Lib.csproj
  Lib/Objects/FileSystemObject.cs
  Lib/Objects/MacSignature.cs
  Lib/Objects/SqlConnectionHolder.cs
  Lib/Objects/WriteObject.cs
  Lib/Utils/DatabaseManager.cs
  Lib/Utils/ExternalCommandRunner.cs
  Lib/Utils/JsonUtils.cs
  Lib/Utils/RegistryWalker.cs
  Tests/CollectorTests.cs
  Tests/ComparatorTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add Mac Signature Collection
  Cli/Program.cs
  Lib/Collectors/BaseCollector.cs
  Lib/Collectors/CertificateCollector.cs
  Lib/Collectors/ComObjectCollector.cs
  Lib/Collectors/EventLogCollector.cs
  Lib/Collectors/FileSystemCollector.cs
  Lib/Collectors/FileSystemUtils.cs
  Lib/Collectors/FirewallCollector.cs
  Lib/Collectors/OpenPortCollector.cs
  Lib/Collectors/RegistryCollector.cs
  Lib/Collectors/ServiceCollector.cs
  Lib/Collectors/UserAccountCollector.cs
  Lib/Collectors/WindowsFileSystemUtils.cs
  Lib/Lib.csproj
  Lib/Objects/FileSystemObject.cs
  Lib/Objects/MacSignature.cs
  Lib/Objects/SqlConnectionHolder.cs
  Lib/Objects/WriteObject.cs
  Lib/Utils/DatabaseManager.cs
  Lib/Utils/ExternalCommandRunner.cs
  Lib/Utils/JsonUtils.cs
  Lib/Utils/RegistryWalker.cs
  Tests/CollectorTests.cs
  Tests/ComparatorTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix FileMonitor
  Cli/Controllers/HomeController.cs
  Lib/Utils/DatabaseManager.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Fix FileMonitor (#426)
  Cli/Controllers/HomeController.cs
  Lib/Utils/DatabaseManager.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Path conditions:
  Pipelines/pr-validation.yml: any of: Cli, Lib, Tests, Benchmarks, Pipelines, analyses.json
  Pipelines/release.yml: any of: Cli, Lib
