Repository microsoft/AttackSurfaceAnalyzer: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/pr-validation.yml, Pipelines/release.yml

Path conditions:
  Pipelines/pr-validation.yml: any of: Cli, Lib, Tests, Benchmarks, Pipelines, analyses.json
  Pipelines/release.yml: any of: Cli, Lib

Bump dependencies (#609)
  Cli/Cli.csproj
  Cli/wwwroot/css/asa.css
  Lib/Lib.csproj
  Tools/Docker/AsaDetonatorWindows/runall.ps1
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Gfs/bump on main (#611)
  Benchmarks/LiteDbManager.cs
  Cli/AttackSurfaceAnalyzerClient.cs
  Cli/Cli.csproj
  Cli/Components/States/Results.razor
  Cli/Pages/Report.razor
  Cli/Pages/Sandbox.razor
  Cli/wwwroot/css/asa.css
  Lib/Collectors/BaseCompare.cs
  Lib/Lib.csproj
  Lib/Objects/CollectObject.cs
  Lib/Objects/CompareResult.cs
  Lib/Objects/SkipCompareAttribute.cs
  Lib/Properties/Resources.resx
  Lib/Utils/AsaHelpers.cs
  Lib/Utils/CryptoHelpers.cs
  Tools/Docker/AsaDetonatorWindows/runall.ps1
  analyses.json
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Deploy to GitHub Pages
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Collectors.BaseCompare.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.CertificateObject.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.CollectObject.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.ComObject.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.CompareResult.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.CryptographicKeyObject.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.DriverObject.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.EventLogObject.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.FileMonitorObject.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.FileSystemObject.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.FirewallObject.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.GroupAccountObject.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.OpenPortObject.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.ProcessObject.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.RegistryObject.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.ServiceObject.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.SkipCompareAttribute.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.TpmObject.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.UserAccountObject.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.WifiObject.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.html
  api/api/toc.html
  manifest.json
  xrefmap.yml
Due: none

Reduce number of calls to hash the analysis file.
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add Comments to Rule File
  Lib/Objects/RuleFile.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Clean up test.
  Tests/AsaAnalyzerTests.cs
Due: Pipelines/pr-validation.yml

Try explicitly calling SHA512Managed for #602
  Lib/Utils/CryptoHelpers.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add Managed Crypto Tests
  Benchmarks/CryptoTests.cs
  Benchmarks/Program.cs
  Lib/Utils/CryptoHelpers.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Reduce the number of calls made to hash the RuleFile (#612)
  Benchmarks/CryptoTests.cs
  Benchmarks/Program.cs
  Cli/AttackSurfaceAnalyzerClient.cs
  Lib/Objects/RuleFile.cs
  Lib/Utils/CryptoHelpers.cs
  Tests/AsaAnalyzerTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Deploy v2.3 to GitHub Pages
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.RuleFile.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Utils.CryptoHelpers.html
  v2.3/manifest.json
  v2.3/xrefmap.yml
Due: none

Gfs/reduce hash calls (#613)
  Benchmarks/CryptoTests.cs
  Benchmarks/Program.cs
  Cli/AttackSurfaceAnalyzerClient.cs
  Lib/Objects/RuleFile.cs
  Lib/Utils/CryptoHelpers.cs
  Tests/AsaAnalyzerTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Deploy to GitHub Pages
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.RuleFile.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Utils.CryptoHelpers.html
  manifest.json
  xrefmap.yml
Due: none

Update OAT
  Cli/Cli.csproj
  Cli/Pages/Sandbox.razor
  Lib/Lib.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix crash when default level is missing.
  Cli/AppData.cs
  Cli/AttackSurfaceAnalyzerClient.cs
  Cli/Pages/Author.razor
  Lib/Objects/RuleFile.cs
  analyses.json
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix build break
  Cli/Pages/Sandbox.razor
  Lib/Objects/RuleFile.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update OAT and Fix Byte Array (#614)
  Cli/AppData.cs
  Cli/AttackSurfaceAnalyzerClient.cs
  Cli/Cli.csproj
  Cli/Pages/Author.razor
  Cli/Pages/Sandbox.razor
  Lib/Lib.csproj
  Lib/Objects/RuleFile.cs
  analyses.json
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Deploy v2.3 to GitHub Pages
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.RuleFile.html
  v2.3/manifest.json
  v2.3/xrefmap.yml
Due: none

Add a group collector test
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml

Add rule file tests
  Tests/RuleFileTests.cs
Due: Pipelines/pr-validation.yml

Fix case where the collector would not collect empty groups
  Lib/Collectors/UserAccountCollector.cs
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Resolve linting issues.
  Benchmarks/InsertTestsWithIntermittentTransactions.cs
  Cli/Pages/Author.razor
  Cli/Pages/Configure.razor
  Cli/Pages/Guided.razor
  Cli/Pages/Monitor.razor
  Cli/Pages/Report.razor
  Cli/Pages/Sandbox.razor
  Cli/Pages/Scan.razor
  Cli/Shared/NavMenu.razor
  Lib/Collectors/ComObjectCollector.cs
  Lib/Collectors/FileSystemMonitor.cs
  Lib/Collectors/RegistryCollector.cs
  Lib/Collectors/RegistryMonitor.cs
  Lib/Collectors/ServiceCollector.cs
  Lib/Collectors/UserAccountCollector.cs
  Lib/Collectors/WifiCollector.cs
  Lib/Utils/AsaAnalyzer.cs
  Lib/Utils/Elevation.cs
  Lib/Utils/JsonUtils.cs
  Lib/Utils/RegistryWalker.cs
  Lib/Utils/Win32OpenPortListenerHelper.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Gfs/add rule file tests (#615)
  Benchmarks/InsertTestsWithIntermittentTransactions.cs
  Cli/Pages/Author.razor
  Cli/Pages/Configure.razor
  Cli/Pages/Guided.razor
  Cli/Pages/Monitor.razor
  Cli/Pages/Report.razor
  Cli/Pages/Sandbox.razor
  Cli/Pages/Scan.razor
  Cli/Shared/NavMenu.razor
  Lib/Collectors/ComObjectCollector.cs
  Lib/Collectors/FileSystemMonitor.cs
  Lib/Collectors/RegistryCollector.cs
  Lib/Collectors/RegistryMonitor.cs
  Lib/Collectors/ServiceCollector.cs
  Lib/Collectors/UserAccountCollector.cs
  Lib/Collectors/WifiCollector.cs
  Lib/Utils/AsaAnalyzer.cs
  Lib/Utils/Elevation.cs
  Lib/Utils/JsonUtils.cs
  Lib/Utils/RegistryWalker.cs
  Lib/Utils/Win32OpenPortListenerHelper.cs
  Tests/CollectorTests.cs
  Tests/RuleFileTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Deploy v2.3 to GitHub Pages
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Collectors.ComObjectCollector.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Collectors.RegistryCollector.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Collectors.RegistryMonitor.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Utils.Elevation.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.Utils.RegistryWalker.html
  v2.3/manifest.json
Due: none

Pre populate registry and file system default paths
  Cli/Components/CollectorOptions/FileCollectorOptions.razor
  Cli/Components/CollectorOptions/RegistryCollectorOptions.razor
  Lib/Collectors/FileSystemCollector.cs
  Lib/Collectors/RegistryCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add exclusive mode for scanning pages
  Cli/AppData.cs
  Cli/Components/States/Scanning.razor
  Cli/Pages/Guided.razor
  Cli/Pages/Monitor.razor
  Cli/Pages/Scan.razor
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix File and Registry Collector options removing
  Cli/Components/CollectorOptions/FileCollectorOptions.razor
  Cli/Components/CollectorOptions/RegistryCollectorOptions.razor
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Improve scanning state output
  Cli/Components/States/Scanning.razor
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update Scanning.razor
  Cli/Components/States/Scanning.razor
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Remove beta flag
  version.json
Due: none

Midpoint
  Cli/AppData.cs
  Cli/AttackSurfaceAnalyzerClient.cs
  Cli/Components/States/Results.razor
  Cli/Pages/Guided.razor
  Cli/Pages/Scan.razor
  Lib/Objects/CommandOptions.cs
  Lib/Properties/Resources.resx
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix weird corruption from VS
  Cli/Pages/Monitor.razor
  Cli/Pages/Scan.razor
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fixes for GUI exporting
  Cli/Components/CollectorOptions/FileCollectorOptions.razor
  Cli/Components/CollectorOptions/RegistryCollectorOptions.razor
  Cli/Components/States/Results.razor
  Cli/Pages/Guided.razor
  Cli/Pages/Report.razor
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Revert visibility to allow test to work
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Remove extra setgid
  analyses.json
Due: Pipelines/pr-validation.yml

Remove unused reference to assemblies.
  Cli/Pages/Sandbox.razor
Due: Pipelines/pr-validation.yml, Pipelines/release.yml
