Repository microsoft/AttackSurfaceAnalyzer: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/pr-validation.yml, Pipelines/release.yml

Pipelines/pr-validation.yml:
  name: ASA PR Validation
  stages:
  - stage: Test
    jobs:
    - job: Windows
      pool:
        vmImage: windows-latest
      steps:
      - script: dotnet tool install -g nbgv
        displayName: Install GitVersioning
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Pipelines/release.yml:
  name: ASA Release
  stages:
  - stage: Test
    jobs:
    - job: Windows
      pool:
        vmImage: windows-latest
      steps:
      - script: dotnet tool install -g nbgv
        displayName: Install GitVersioning
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Fix ClassInitialize test declarations
  Tests/AnalyzerOperationsTests.cs
  Tests/CollectorTests.cs
  Tests/ComparatorTests.cs
  Tests/HydrationTests.cs
Due: Pipelines/pr-validation.yml

Fix namespace
  Tests/HydrationTests.cs
Due: Pipelines/pr-validation.yml

Catch more cases
  Tests/CollectorTests.cs
  docs/api/AttackSurfaceAnalyzer.CollectCommandOptions.html
Due: Pipelines/pr-validation.yml

Verify we can read NV that we wrote back.
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml

Add missing enums for new data types.
  Cli/wwwroot/js/site.js
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix adding results to output.
  Lib/Collectors/TpmCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Close connection to TPM in collector
  Lib/Collectors/TpmCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update CollectorTests.cs
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml

Add catch for reading NV
  Lib/Collectors/TpmCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Clean up
  Lib/Collectors/TpmCollector.cs
  Tests/DatabaseManagerTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Typo.
  Tests/HydrationTests.cs
Due: Pipelines/pr-validation.yml

Properly close connection to TPM simulator and open a new one for the collector.
  Lib/Collectors/TpmCollector.cs
  Tests/CollectorTests.cs
  Tests/TpmSim.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add some Database Tests.
  Lib/Utils/DatabaseManager.cs
  Tests/DatabaseManagerTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add Deserialization of TPM and KEY objects.
  Lib/Utils/JsonUtils.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

New Comparator Tests
  Tests/InDatabaseComparatorTests.cs
  Tests/InMemoryComparatorTests.cs
Due: Pipelines/pr-validation.yml

Clean up.
  Tests/AnalyzerExpressionsTests.cs
  Tests/AnalyzerOperationsTests.cs
  Tests/CollectorTests.cs
  Tests/DatabaseManagerTests.cs
  Tests/HydrationTests.cs
Due: Pipelines/pr-validation.yml

Clean up.
  Lib/Collectors/RegistryCollector.cs
  Lib/Collectors/TpmCollector.cs
  Lib/Objects/TpmObject.cs
  Lib/Utils/Analyzer.cs
  Lib/Utils/JsonUtils.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Collect private key portion.
  Lib/Collectors/TpmCollector.cs
  Lib/Objects/CryptographicKeyObject.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update Objects
  Lib/Objects/CryptographicKeyObject.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add NvIndex object
  Lib/Collectors/TpmCollector.cs
  Lib/Objects/AsaNvIndex.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Create proper RSA Key class with appropriate serializer,deserializers
  Lib/Collectors/TpmCollector.cs
  Lib/Objects/CryptographicKeyObject.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add Tpm2Tester for utility functions.
  Lib/Lib.csproj
  Lib/TSS.Net.dll
  Lib/Tpm2TesterFramework.dll
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update Cli.csproj
  Cli/Cli.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update TpmCollector.cs
  Lib/Collectors/TpmCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Only attempt to read NV When we think its allowed
  Lib/Collectors/TpmCollector.cs
  Lib/Objects/AsaNvIndex.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update .gitignore
  .gitignore
Due: none

Use blank auth value so that tpmcollector can grab it.
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml

Don't print out the pcrs.
  Lib/Collectors/TpmCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix Tests dependency.
  AttackSurfaceAnalyzer.sln
  Cli/Cli.csproj
  Tests/Tests.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Don't read NV unless we are allowed to
  Lib/Collectors/TpmCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix #413 (#414)
  Lib/Collectors/RegistryCollector.cs
  Lib/Collectors/TpmCollector.cs
  Lib/Objects/SqlConnectionHolder.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Build fixes
  Lib/Collectors/TpmCollector.cs
  Lib/Lib.csproj
  Tests/CollectorTests.cs
  Tests/DatabaseManagerTests.cs
  Tests/HydrationTests.cs
  Tests/Tests.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Code Cleanup
  Lib/Collectors/TpmCollector.cs
  Lib/Lib.csproj
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Don't stop TPM between setup and run in test.
  Lib/Collectors/TpmCollector.cs
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update PeNet
  Lib/Lib.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix #423
  Cli/Controllers/HomeController.cs
  Cli/Program.cs
  Lib/Utils/Logger.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add SizeOnDisk check
  Lib/Collectors/FileSystemCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Rewrite cluster size fetching on Windows.
  Lib/Collectors/FileSystemCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Path conditions:
  Pipelines/pr-validation.yml: any of: Cli, Lib, Tests, Benchmarks, Pipelines, analyses.json
  Pipelines/release.yml: any of: Cli, Lib
