Repository microsoft/AttackSurfaceAnalyzer: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/pr-validation.yml, Pipelines/release.yml

Pipelines/pr-validation.yml:
  name: ASA PR Validation
  stages:
  - stage: Test
    jobs:
    - job: Windows
      pool:
        vmImage: windows-latest
      steps:
      - script: dotnet tool install -g nbgv
        displayName: Install GitVersioning
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Pipelines/release.yml:
  name: ASA Release
  stages:
  - stage: Test
    jobs:
    - job: Windows
      pool:
        vmImage: windows-latest
      steps:
      - script: dotnet tool install -g nbgv
        displayName: Install GitVersioning
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Fix #423 (#430)
  Cli/Controllers/HomeController.cs
  Cli/Program.cs
  Lib/Collectors/FileSystemCollector.cs
  Lib/Utils/Logger.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix #423
  .github/workflows/codeql-analysis.yml
  Cli/Controllers/HomeController.cs
  Cli/Program.cs
  Lib/Collectors/FileSystemCollector.cs
  Lib/Utils/Logger.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update PeNet.
  Lib/Lib.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update PeNet
  Lib/Lib.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add Mac Signed Binary modified rule
  analyses.json
Due: Pipelines/pr-validation.yml

Add rule for detected added mac binaries.
  analyses.json
Due: Pipelines/pr-validation.yml

Remove platform dependency for checking windows + mac signatures in rules
  analyses.json
Due: Pipelines/pr-validation.yml

Perform Database Based comparisons in tests
  Tests/ComparatorTests.cs
Due: Pipelines/pr-validation.yml

Fix test
  Tests/ComparatorTests.cs
  analyses.json
Due: Pipelines/pr-validation.yml

Fix database based comparator tests.
  Lib/Utils/DatabaseManager.cs
  Tests/ComparatorTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix json format
  analyses.json
Due: Pipelines/pr-validation.yml

Warnings cleanup
  AttackSurfaceAnalyzer.sln
  Lib/Objects/Types.cs
  Lib/Properties/Resources.resx
  Lib/Utils/Elevation.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update HomeController.cs
  Cli/Controllers/HomeController.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update README.md
  README.md
Due: none

Update version.json (#407)
  version.json
Due: none

Fix rule
  analyses.json
Due: Pipelines/pr-validation.yml

Improve verify rules output
  Cli/Program.cs
  Lib/Utils/Analyzer.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Make static
  Lib/Utils/Elevation.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Remove extraneous quotes
  Lib/Properties/Resources.resx
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Improve rules are valid test
  Cli/Program.cs
  Lib/Utils/Analyzer.cs
  Tests/AnalyzerOperationsTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix cloud builds to not have commit id
  Pipelines/release.yml
Due: Pipelines/pr-validation.yml

Add Rule support for mac binaries (#433)
  AttackSurfaceAnalyzer.sln
  Cli/Controllers/HomeController.cs
  Cli/Program.cs
  Lib/Objects/Types.cs
  Lib/Properties/Resources.resx
  Lib/Utils/Analyzer.cs
  Lib/Utils/DatabaseManager.cs
  Lib/Utils/Elevation.cs
  Pipelines/release.yml
  Tests/AnalyzerOperationsTests.cs
  Tests/ComparatorTests.cs
  analyses.json
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Support exporting single run
  Benchmarks/LiteDbManager.cs
  Benchmarks/SystemSqliteDatabaseManager.cs
  Benchmarks/SystemSqliteSqlConnectionHolder.cs
  Cli/Program.cs
  Lib/Collectors/BaseCompare.cs
  Lib/Objects/CommandOptions.cs
  Lib/Utils/DatabaseManager.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

LGTM Fixes
  Lib/Collectors/BaseCompare.cs
  Lib/Collectors/RegistryCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

More LGTM
  Lib/Collectors/FileSystemCollector.cs
  Lib/Collectors/FileSystemUtils.cs
  Lib/Utils/RegistryWalker.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Support exporting single run (#437)
  Benchmarks/LiteDbManager.cs
  Benchmarks/SystemSqliteDatabaseManager.cs
  Benchmarks/SystemSqliteSqlConnectionHolder.cs
  Cli/Program.cs
  Lib/Collectors/BaseCompare.cs
  Lib/Collectors/FileSystemCollector.cs
  Lib/Collectors/FileSystemUtils.cs
  Lib/Collectors/RegistryCollector.cs
  Lib/Objects/CommandOptions.cs
  Lib/Utils/DatabaseManager.cs
  Lib/Utils/RegistryWalker.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update error string and add clarifying comment in command args
  Cli/Program.cs
  Lib/Objects/CommandOptions.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update error string and add clarifying comment in command args (#438)
  Cli/Program.cs
  Lib/Objects/CommandOptions.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add experimental low memory usage mode
  Cli/Program.cs
  Lib/Collectors/BaseCollector.cs
  Lib/Collectors/EventLogCollector.cs
  Lib/Collectors/FileSystemCollector.cs
  Lib/Collectors/RegistryCollector.cs
  Lib/Objects/CommandOptions.cs
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add experimental low memory usage mode (#440)
  Cli/Program.cs
  Lib/Collectors/BaseCollector.cs
  Lib/Collectors/EventLogCollector.cs
  Lib/Collectors/FileSystemCollector.cs
  Lib/Collectors/RegistryCollector.cs
  Lib/Objects/CommandOptions.cs
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Respect LowMemoryUsage mode before DatabaseManager.Write
  Cli/Program.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix #441
  Lib/Utils/RegistryWalker.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix #441 (#442)
  Lib/Utils/RegistryWalker.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update FileSystemCollector.cs
  Lib/Collectors/FileSystemCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Path conditions:
  Pipelines/pr-validation.yml: any of: Cli, Lib, Tests, Benchmarks, Pipelines, analyses.json
  Pipelines/release.yml: any of: Cli, Lib
