Repository microsoft/AttackSurfaceAnalyzer: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/pr-validation.yml, Pipelines/release.yml

Pipelines/pr-validation.yml:
  name: ASA PR Validation
  stages:
  - stage: Test
    jobs:
    - job: Windows
      pool:
        vmImage: windows-latest
      steps:
      - script: dotnet tool install -g nbgv
        displayName: Install GitVersioning
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Pipelines/release.yml:
  name: ASA Release
  stages:
  - stage: Test
    jobs:
    - job: Windows
      pool:
        vmImage: windows-latest
      steps:
      - script: dotnet tool install -g nbgv
        displayName: Install GitVersioning
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Fix FileMonitor (#426)
  Cli/Controllers/HomeController.cs
  Lib/Utils/DatabaseManager.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Fix File Monitor (#427)
  .github/workflows/codeql-analysis.yml
  Cli/Controllers/HomeController.cs
  Lib/Utils/DatabaseManager.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update Directory.Build.props
  Directory.Build.props
Due: none

Fix registry walker crash.
  Lib/Utils/RegistryWalker.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update verbose message.
  Lib/Collectors/RegistryCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add hive/key selection
  Lib/Collectors/RegistryCollector.cs
  Lib/Objects/CommandOptions.cs
  Lib/Utils/RegistryWalker.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

ComObjectCollector now respects singlethread setting
  Cli/Program.cs
  Lib/Collectors/ComObjectCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix registry walker.
  Lib/Collectors/RegistryCollector.cs
  Lib/Utils/RegistryWalker.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix break.
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml

Disable triggers until build works
  .github/workflows/codeql-analysis.yml
Due: none

Fix #424 (#428)
  Cli/Program.cs
  Lib/Collectors/ComObjectCollector.cs
  Lib/Collectors/RegistryCollector.cs
  Lib/Objects/CommandOptions.cs
  Lib/Utils/RegistryWalker.cs
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Code Cleanup.
  Cli/Program.cs
  Lib/Collectors/BaseCompare.cs
  Lib/Collectors/ComObjectCollector.cs
  Lib/Collectors/FileSystemCollector.cs
  Lib/Collectors/RegistryCollector.cs
  Lib/Collectors/WindowsFileSystemUtils.cs
  Lib/Objects/SqlConnectionHolder.cs
  Lib/Objects/WriteObject.cs
  Lib/Utils/Analyzer.cs
  Lib/Utils/JsonUtils.cs
  Tests/CollectorTests.cs
  Tests/ComparatorTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Code Cleanup
  Benchmarks/CryptoTests.cs
  Lib/Collectors/BaseCompare.cs
  Lib/Collectors/ComObjectCollector.cs
  Lib/Collectors/CryptographicKeyCollector.cs
  Lib/Collectors/FileSystemCollector.cs
  Lib/Collectors/RegistryCollector.cs
  Lib/Collectors/TpmCollector.cs
  Lib/Collectors/WindowsFileSystemUtils.cs
  Lib/Objects/CryptographicKeyObject.cs
  Lib/Objects/SqlConnectionHolder.cs
  Lib/Objects/TpmObject.cs
  Lib/Objects/WriteObject.cs
  Lib/Utils/Analyzer.cs
  Lib/Utils/JsonUtils.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Code clean up
  Tests/CollectorTests.cs
  Tests/ComparatorTests.cs
Due: Pipelines/pr-validation.yml

Gather Manufacturer, FirmwareVersion and SpecDate.
  Lib/Collectors/TpmCollector.cs
  Lib/Objects/TpmObject.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add test mode for Tpm Collector
  Lib/Collectors/TpmCollector.cs
  Lib/Objects/TpmObject.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update TpmCollector.cs
  Lib/Collectors/TpmCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Support Subindexing into Dictionaries and Arrays
  Lib/Utils/Analyzer.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add NV and PCR gathering.
  Lib/Collectors/TpmCollector.cs
  Lib/Objects/TpmObject.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Dump Persistent Keys
  Lib/Collectors/TpmCollector.cs
  Lib/Objects/TpmObject.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add Rules for catching changes to windows TPM settings in the registry.
  analyses.json
Due: Pipelines/pr-validation.yml

Cleanup
  Lib/Collectors/TpmCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add Tpm Simulator 1.62 (Windows)
  .gitignore
  Tools/TpmSim/Simulator.exe
  Tools/TpmSim/concrt140d.dll
  Tools/TpmSim/msvcp140_1d.dll
  Tools/TpmSim/msvcp140_2d.dll
  Tools/TpmSim/msvcp140d.dll
  Tools/TpmSim/tpm.dll
  Tools/TpmSim/vccorlib140d.dll
  Tools/TpmSim/vcruntime140d.dll
Due: none

Remove duplicate resource
  Lib/Properties/Resources.resx
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add TpmSimulator.
  Lib/Lib.csproj
  Lib/Utils/TpmSim.cs
  tpm.dll
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add TPM Collector Test.
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml

Update TpmObject.cs
  Lib/Objects/TpmObject.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add Power Cycle needed for simulator.
  Lib/Collectors/TpmCollector.cs
  Lib/Objects/TpmObject.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Create TpmSim.cs
  Lib/Utils/TpmSim.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Path conditions:
  Pipelines/pr-validation.yml: any of: Cli, Lib, Tests, Benchmarks, Pipelines, analyses.json
  Pipelines/release.yml: any of: Cli, Lib
