Repository microsoft/AttackSurfaceAnalyzer: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/pr-validation.yml, Pipelines/release.yml

Path conditions:
  Pipelines/pr-validation.yml: any of: Cli, Lib, Tests, Benchmarks, Pipelines, analyses.json
  Pipelines/release.yml: any of: Cli, Lib

Create publish-docs.yml
  .github/workflows/publish-docs.yml
Due: none

Update publish-docs.yml
  .github/workflows/publish-docs.yml
Due: none

Add Docfx
  docfx/.gitignore
  docfx/api/.gitignore
  docfx/api/index.md
  docfx/docfx.json
  docfx/index.md
  docfx/toc.yml
Due: none

Update index.md
  docfx/index.md
Due: none

Deploy v2.2 to GitHub Pages
  v2.2/index.html
  v2.2/manifest.json
Due: none

Add analyses hash support
  Cli/AttackSurfaceAnalyzerClient.cs
  Cli/Components/States/Results.razor
  Cli/Pages/Analyze.razor
  Cli/Pages/Configure.razor
  Cli/Pages/Guided.razor
  Cli/Pages/Report.razor
  Lib/Collectors/EventLogCollector.cs
  Lib/Objects/RuleFile.cs
  Lib/Utils/DatabaseManager.cs
  Lib/Utils/SqliteDatabaseManager.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Finish add deletion.
  Cli/Components/States/Results.razor
  Cli/Pages/Configure.razor
  Cli/Pages/Guided.razor
  Lib/Utils/SqliteDatabaseManager.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Gfs/#242 (#546)
  .github/workflows/codeql-analysis.yml
  Cli/AttackSurfaceAnalyzerClient.cs
  Cli/Components/States/Results.razor
  Cli/Pages/Analyze.razor
  Cli/Pages/Configure.razor
  Cli/Pages/Guided.razor
  Cli/Pages/Report.razor
  Lib/Collectors/EventLogCollector.cs
  Lib/Objects/RuleFile.cs
  Lib/Utils/DatabaseManager.cs
  Lib/Utils/SqliteDatabaseManager.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Deploy to GitHub Pages
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Collectors.EventLogCollector.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.RuleFile.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Utils.DatabaseManager.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Utils.SqliteDatabaseManager.html
  manifest.json
  xrefmap.yml
Due: none

Update dotnet-test-job.yml
  Pipelines/templates/dotnet-test-job.yml
Due: Pipelines/pr-validation.yml

Update core-pipeline.yml for Azure Pipelines
  Pipelines/core-pipeline.yml
Due: Pipelines/pr-validation.yml

Remove Telemetry
  Benchmarks/LiteDbManager.cs
  Benchmarks/SystemSqliteDatabaseManager.cs
  Cli/AttackSurfaceAnalyzerClient.cs
  Lib/Collectors/BaseCollector.cs
  Lib/Collectors/BaseCompare.cs
  Lib/Collectors/FirewallCollector.cs
  Lib/Objects/CommandOptions.cs
  Lib/Objects/RuleFile.cs
  Lib/Objects/Settings.cs
  Lib/Properties/Resources.resx
  Lib/Utils/AsaTelemetry.cs
  Lib/Utils/DatabaseManager.cs
  Lib/Utils/SqliteDatabaseManager.cs
  Lib/Utils/Win32OpenPortListenerHelper.cs
  Tests/AsaAnalyzerTests.cs
  Tests/CollectorTests.cs
  Tests/HydrationTests.cs
  Tests/InMemoryComparatorTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Delete PRIVACY.md
  PRIVACY.md
Due: none

Add Policheck
  Pipelines/templates/sdl-job.yml
Due: Pipelines/pr-validation.yml

Remove Telemetry (#548)
  Benchmarks/LiteDbManager.cs
  Benchmarks/SystemSqliteDatabaseManager.cs
  Cli/AttackSurfaceAnalyzerClient.cs
  Lib/Collectors/BaseCollector.cs
  Lib/Collectors/BaseCompare.cs
  Lib/Collectors/FirewallCollector.cs
  Lib/Objects/CommandOptions.cs
  Lib/Objects/RuleFile.cs
  Lib/Objects/Settings.cs
  Lib/Properties/Resources.resx
  Lib/Utils/AsaTelemetry.cs
  Lib/Utils/DatabaseManager.cs
  Lib/Utils/SqliteDatabaseManager.cs
  Lib/Utils/Win32OpenPortListenerHelper.cs
  PRIVACY.md
  Tests/AsaAnalyzerTests.cs
  Tests/CollectorTests.cs
  Tests/HydrationTests.cs
  Tests/InMemoryComparatorTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Deploy to GitHub Pages
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Collectors.BaseCollector.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Collectors.BaseCompare.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.ConfigCommandOptions.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.ExportCollectCommandOptions.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.ExportMonitorCommandOptions.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.ExportOptions.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.GuiCommandOptions.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.GuidedModeCommandOptions.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.MonitorCommandOptions.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.RuleFile.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Objects.Settings.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Utils.DatabaseManager.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Utils.ProcessPort.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Utils.SqliteDatabaseManager.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.Utils.html
  api/api/Microsoft.CST.AttackSurfaceAnalyzer.VerifyOptions.html
  api/api/toc.html
  manifest.json
  xrefmap.yml
Due: none

Deploy v2.2 to GitHub Pages
  v2.2/api/api/AttackSurfaceAnalyzer.Collectors.BaseCompare.html
  v2.2/api/api/AttackSurfaceAnalyzer.Collectors.FirewallCollector.html
  v2.2/api/api/AttackSurfaceAnalyzer.ConfigCommandOptions.html
  v2.2/api/api/AttackSurfaceAnalyzer.GuiCommandOptions.html
  v2.2/api/api/AttackSurfaceAnalyzer.Objects.Settings.html
  v2.2/api/api/AttackSurfaceAnalyzer.Utils.Analyzer.html
  v2.2/api/api/AttackSurfaceAnalyzer.Utils.DBSettings.html
  v2.2/api/api/AttackSurfaceAnalyzer.Utils.DatabaseManager.html
  v2.2/api/api/AttackSurfaceAnalyzer.Utils.ProcessPort.html
  v2.2/api/api/AttackSurfaceAnalyzer.Utils.html
  v2.2/api/api/AttackSurfaceAnalyzer.VerifyOptions.html
  v2.2/api/api/toc.html
  v2.2/manifest.json
  v2.2/xrefmap.yml
Due: none

Add Publish Logs Task
  Pipelines/templates/sdl-job.yml
Due: Pipelines/pr-validation.yml

Update sdl-job.yml
  Pipelines/templates/sdl-job.yml
Due: Pipelines/pr-validation.yml

Update core-pipeline.yml
  Pipelines/core-pipeline.yml
Due: Pipelines/pr-validation.yml

Fix error when export monitoring
  Lib/Utils/DatabaseManager.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update dependencies
  Cli/Cli.csproj
  Lib/Lib.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Quit when no monitors are specified.
  Cli/Program.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix #552
  Cli/Program.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix using timestamps as default
  Lib/Objects/CommandOptions.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

fix nbgv version
  Cli/Cli.csproj
  Directory.Build.props
Due: Pipelines/pr-validation.yml, Pipelines/release.yml
