Repository microsoft/AttackSurfaceAnalyzer: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/pr-validation.yml, Pipelines/release.yml

Pipelines/pr-validation.yml:
  name: ASA PR Validation
  stages:
  - stage: Test
    jobs:
    - job: Windows
      pool:
        vmImage: windows-latest
      steps:
      - script: dotnet tool install -g nbgv
        displayName: Install GitVersioning
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Pipelines/release.yml:
  name: ASA Release
  stages:
  - stage: Test
    jobs:
    - job: Windows
      pool:
        vmImage: windows-latest
      steps:
      - script: dotnet tool install -g nbgv
        displayName: Install GitVersioning
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Add rule for detecting tpm keys on windows (#393)
  Pipelines/pr-validation.yml
  Pipelines/release.yml
  analyses.json
  filters.json
Due: Pipelines/pr-validation.yml

Add new rule to detect changes to TPM Keys on Windows
  .github/ISSUE_TEMPLATE/rule.md
  Pipelines/pr-validation.yml
  Pipelines/release.yml
  analyses.json
  filters.json
Due: Pipelines/pr-validation.yml

Add skeleton for TPM Collector
  Lib/Collectors/TpmCollector.cs
  Lib/Lib.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add Objects
  Lib/Objects/CryptographicKeyObject.cs
  Lib/Objects/TpmObject.cs
  Lib/Objects/Types.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add Cryptographic Key Collector
  Cli/Program.cs
  Lib/Collectors/CryptographicKeyCollector.cs
  Lib/Collectors/TpmCollector.cs
  Lib/Objects/CommandOptions.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add empty objects and collector for TPMCollector. (#394)
  Cli/Program.cs
  Lib/Collectors/CryptographicKeyCollector.cs
  Lib/Collectors/TpmCollector.cs
  Lib/Lib.csproj
  Lib/Objects/CommandOptions.cs
  Lib/Objects/CryptographicKeyObject.cs
  Lib/Objects/TpmObject.cs
  Lib/Objects/Types.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update README.md
  README.md
Due: none

Add calls to the comparator to allow use without Database
  Lib/Collectors/BaseCompare.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update SystemSqliteInsertTests.cs
  Benchmarks/SystemSqliteInsertTests.cs
Due: Pipelines/pr-validation.yml

Update Cli.csproj
  Cli/Cli.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix regex
  analyses.json
Due: Pipelines/pr-validation.yml

Update BaseCompare.cs
  Lib/Collectors/BaseCompare.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix bug finding default flag level
  Cli/Program.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix crashes in analyzer.
  Lib/Utils/Analyzer.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix concurrency issues in Analyzer
  Lib/Utils/Analyzer.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Allow Comparators without Database (#396)
  Benchmarks/SystemSqliteInsertTests.cs
  Cli/Cli.csproj
  Cli/Program.cs
  Lib/Collectors/BaseCompare.cs
  Lib/Utils/Analyzer.cs
  analyses.json
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix Gui Spinner issue.
  Cli/Cli.csproj
  Cli/Controllers/HomeController.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update HomeController.cs
  Cli/Controllers/HomeController.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fixes GUI updates when collecting. (#401)
  Cli/Cli.csproj
  Cli/Controllers/HomeController.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fixes GUI updates when collecting. (#401)
  Cli/Cli.csproj
  Cli/Controllers/HomeController.cs
  README.md
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update NOTICE.txt
  NOTICE.txt
Due: none

Update release pipeline with CG detection
  Pipelines/release.yml
Due: Pipelines/pr-validation.yml

Fix collection of x64 view.
  Lib/Collectors/RegistryCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update NOTICE, Add CG detection (#403)
  NOTICE.txt
  Pipelines/release.yml
Due: Pipelines/pr-validation.yml

Update NOTICE, add CG detector
  NOTICE.txt
  Pipelines/release.yml
Due: Pipelines/pr-validation.yml

Fix collection of x64 view. (#404)
  Lib/Collectors/RegistryCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update version.json
  version.json
Due: none

Update NOTICE, add CG detector (#406)
  NOTICE.txt
  Pipelines/release.yml
Due: Pipelines/pr-validation.yml

Fix #413.
  Cli/Program.cs
  Lib/Collectors/BaseCollector.cs
  Lib/Collectors/CertificateCollector.cs
  Lib/Collectors/ComObjectCollector.cs
  Lib/Collectors/EventLogCollector.cs
  Lib/Collectors/FileSystemCollector.cs
  Lib/Collectors/FirewallCollector.cs
  Lib/Collectors/OpenPortCollector.cs
  Lib/Collectors/RegistryCollector.cs
  Lib/Collectors/ServiceCollector.cs
  Lib/Collectors/UserAccountCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Need to manually remove the elements from the List.
  Cli/Program.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Switch to using lists instead of ConcurrentQueues for performance.
  Cli/Program.cs
  Lib/Collectors/BaseCompare.cs
  Lib/Objects/SqlConnectionHolder.cs
  Lib/Utils/DatabaseManager.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Use Lists for performance.
  Lib/Utils/DatabaseManager.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Lists are 0 indexed.
  Lib/Objects/SqlConnectionHolder.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Catch a case where WriteNext might cause a carsh if called when count of WriteQueue is actually 0.
  Lib/Objects/SqlConnectionHolder.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

AsParallel.ForAll is faster than Parallel.ForEach
  Lib/Collectors/FileSystemCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Use ForAll instead of ForEach
  Cli/Program.cs
  Lib/Collectors/ComObjectCollector.cs
  Lib/Collectors/RegistryCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix double entries in collector
  Lib/Objects/SqlConnectionHolder.cs
  Lib/Utils/DatabaseManager.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Path conditions:
  Pipelines/pr-validation.yml: any of: Cli, Lib, Tests, Benchmarks, Pipelines, analyses.json
  Pipelines/release.yml: any of: Cli, Lib
