Repository microsoft/AttackSurfaceAnalyzer: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/pr-validation.yml, Pipelines/release.yml

Path conditions:
  Pipelines/pr-validation.yml: any of: Cli, Lib, Tests, Benchmarks, Pipelines, analyses.json
  Pipelines/release.yml: any of: Cli, Lib

Extend CollectObject with MonitorObject
  Cli/Program.cs
  Lib/Objects/FileMonitorObject.cs
  Lib/Objects/MonitorObject.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update AsaAnalyzerTests.cs
  Tests/AsaAnalyzerTests.cs
Due: Pipelines/pr-validation.yml

Add negative case to test
  Tests/AsaAnalyzerTests.cs
Due: Pipelines/pr-validation.yml

Add Guided Mode (#520)
  Cli/Controllers/HomeController.cs
  Cli/Program.cs
  Cli/Properties/launchSettings.json
  Lib/Collectors/BaseCollector.cs
  Lib/Collectors/CertificateCollector.cs
  Lib/Collectors/ComObjectCollector.cs
  Lib/Collectors/CryptographicKeyCollector.cs
  Lib/Collectors/DriverCollector.cs
  Lib/Collectors/EventLogCollector.cs
  Lib/Collectors/FileSystemCollector.cs
  Lib/Collectors/FileSystemMonitor.cs
  Lib/Collectors/FirewallCollector.cs
  Lib/Collectors/OpenPortCollector.cs
  Lib/Collectors/ProcessCollector.cs
  Lib/Collectors/RegistryCollector.cs
  Lib/Collectors/ServiceCollector.cs
  Lib/Collectors/TpmCollector.cs
  Lib/Collectors/UserAccountCollector.cs
  Lib/Collectors/WifiCollector.cs
  Lib/Objects/CommandOptions.cs
  Lib/Objects/FileMonitorObject.cs
  Lib/Objects/MonitorObject.cs
  Lib/Objects/Types.cs
  Lib/Utils/DatabaseManager.cs
  Lib/Utils/SqliteDatabaseManager.cs
  Tests/AnalyzerExpressionsTests.cs
  Tests/AnalyzerOperationsTests.cs
  Tests/AnalyzerTests.cs
  Tests/AsaAnalyzerTests.cs
  Tests/CollectorTests.cs
  Tests/Tests.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Improve validation
  LogicalAnalyzer/LogicalAnalyzer/Analyzer.cs
  LogicalAnalyzer/LogicalAnalyzer/Violation.cs
  Tests/AnalyzerOperationsTests.cs
Due: Pipelines/pr-validation.yml

Update Analyzer.cs
  LogicalAnalyzer/LogicalAnalyzer/Analyzer.cs
Due: none

Revert "Add Guided Mode (#520)"
  Cli/Controllers/HomeController.cs
  Cli/Program.cs
  Cli/Properties/launchSettings.json
  Lib/Collectors/BaseCollector.cs
  Lib/Collectors/CertificateCollector.cs
  Lib/Collectors/ComObjectCollector.cs
  Lib/Collectors/CryptographicKeyCollector.cs
  Lib/Collectors/DriverCollector.cs
  Lib/Collectors/EventLogCollector.cs
  Lib/Collectors/FileSystemCollector.cs
  Lib/Collectors/FileSystemMonitor.cs
  Lib/Collectors/FirewallCollector.cs
  Lib/Collectors/OpenPortCollector.cs
  Lib/Collectors/ProcessCollector.cs
  Lib/Collectors/RegistryCollector.cs
  Lib/Collectors/ServiceCollector.cs
  Lib/Collectors/TpmCollector.cs
  Lib/Collectors/UserAccountCollector.cs
  Lib/Collectors/WifiCollector.cs
  Lib/Objects/CommandOptions.cs
  Lib/Objects/FileMonitorObject.cs
  Lib/Objects/MonitorObject.cs
  Lib/Objects/Types.cs
  Lib/Utils/DatabaseManager.cs
  Lib/Utils/SqliteDatabaseManager.cs
  Tests/AnalyzerExpressionsTests.cs
  Tests/AnalyzerOperationsTests.cs
  Tests/AnalyzerTests.cs
  Tests/AsaAnalyzerTests.cs
  Tests/CollectorTests.cs
  Tests/Tests.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Guided mode on Generic Analyzer
  Cli/Controllers/HomeController.cs
  Cli/Program.cs
  Lib/Collectors/BaseCollector.cs
  Lib/Collectors/CertificateCollector.cs
  Lib/Collectors/ComObjectCollector.cs
  Lib/Collectors/CryptographicKeyCollector.cs
  Lib/Collectors/DriverCollector.cs
  Lib/Collectors/EventLogCollector.cs
  Lib/Collectors/FileSystemCollector.cs
  Lib/Collectors/FileSystemMonitor.cs
  Lib/Collectors/FirewallCollector.cs
  Lib/Collectors/OpenPortCollector.cs
  Lib/Collectors/ProcessCollector.cs
  Lib/Collectors/RegistryCollector.cs
  Lib/Collectors/ServiceCollector.cs
  Lib/Collectors/TpmCollector.cs
  Lib/Collectors/UserAccountCollector.cs
  Lib/Collectors/WifiCollector.cs
  Lib/Objects/CommandOptions.cs
  Lib/Objects/FileMonitorObject.cs
  Lib/Objects/MonitorObject.cs
  Lib/Objects/Types.cs
  Lib/Utils/DatabaseManager.cs
  Lib/Utils/SqliteDatabaseManager.cs
  Tests/AsaAnalyzerTests.cs
  Tests/CollectorTests.cs
  Tests/Tests.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Delete AnalyzerTests.cs
  Tests/AnalyzerTests.cs
Due: Pipelines/pr-validation.yml

Revert "Add Guided Mode (#520)" (#521)
  Cli/Controllers/HomeController.cs
  Cli/Program.cs
  Cli/Properties/launchSettings.json
  Lib/Collectors/BaseCollector.cs
  Lib/Collectors/CertificateCollector.cs
  Lib/Collectors/ComObjectCollector.cs
  Lib/Collectors/CryptographicKeyCollector.cs
  Lib/Collectors/DriverCollector.cs
  Lib/Collectors/EventLogCollector.cs
  Lib/Collectors/FileSystemCollector.cs
  Lib/Collectors/FileSystemMonitor.cs
  Lib/Collectors/FirewallCollector.cs
  Lib/Collectors/OpenPortCollector.cs
  Lib/Collectors/ProcessCollector.cs
  Lib/Collectors/RegistryCollector.cs
  Lib/Collectors/ServiceCollector.cs
  Lib/Collectors/TpmCollector.cs
  Lib/Collectors/UserAccountCollector.cs
  Lib/Collectors/WifiCollector.cs
  Lib/Objects/CommandOptions.cs
  Lib/Objects/FileMonitorObject.cs
  Lib/Objects/MonitorObject.cs
  Lib/Objects/Types.cs
  Lib/Utils/DatabaseManager.cs
  Lib/Utils/SqliteDatabaseManager.cs
  Tests/AnalyzerExpressionsTests.cs
  Tests/AnalyzerOperationsTests.cs
  Tests/AnalyzerTests.cs
  Tests/AsaAnalyzerTests.cs
  Tests/CollectorTests.cs
  Tests/Tests.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Revert "Delete AnalyzerTests.cs"
  Tests/AnalyzerTests.cs
Due: Pipelines/pr-validation.yml

Revert "Merge branch 'main' into gfs/ReimplementGuidedMode"
  Cli/Controllers/HomeController.cs
  Cli/Program.cs
  Cli/Properties/launchSettings.json
  Lib/Collectors/FileSystemCollector.cs
  Lib/Collectors/FileSystemMonitor.cs
  Lib/Objects/FileMonitorObject.cs
  Tests/AnalyzerOperationsTests.cs
  Tests/AnalyzerTests.cs
  Tests/AsaAnalyzerTests.cs
  Tests/Tests.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update build instructions
  BUILD.md
Due: none

Update BUILD.md
  BUILD.md
Due: none

Add Analysis to Monitor command
  Cli/Program.cs
  Lib/Objects/CommandOptions.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update AttackSurfaceAnalyzerClient.cs
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Ensure Guided mode doesn't double insert results
  Cli/AttackSurfaceAnalyzerClient.cs
  Lib/Objects/CommandOptions.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add GetTags support
  LogicalAnalyzer/LogicalAnalyzer/Analyzer.cs
  LogicalAnalyzer/LogicalAnalyzer/Rule.cs
Due: none

Update CommandOptions.cs
  Lib/Objects/CommandOptions.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Rewrire ExportMonitorResults
  Cli/AttackSurfaceAnalyzerClient.cs
  Lib/Objects/CommandOptions.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Delete IndexAndRange.cs
  LogicalAnalyzer/LogicalAnalyzer/IndexAndRange.cs
Due: none

Refactor Analyzer into Generic Logical Analyzer (#516)
  AttackSurfaceAnalyzer.sln
  Cli/Program.cs
  Lib/Lib.csproj
  Lib/Objects/AsaRule.cs
  Lib/Objects/CompareResult.cs
  Lib/Objects/Rule.cs
  Lib/Objects/RuleFile.cs
  Lib/Objects/Types.cs
  Lib/Properties/Resources.resx
  Lib/Utils/AsaAnalyzer.cs
  Lib/Utils/AsaHelpers.cs
  LogicalAnalyzer/LogicalAnalyzer/Analyzer.cs
  LogicalAnalyzer/LogicalAnalyzer/BoolOperator.cs
  LogicalAnalyzer/LogicalAnalyzer/Clause.cs
  LogicalAnalyzer/LogicalAnalyzer/Helpers.cs
  LogicalAnalyzer/LogicalAnalyzer/LogicalAnalyzer.csproj
  LogicalAnalyzer/LogicalAnalyzer/Operation.cs
  LogicalAnalyzer/LogicalAnalyzer/Resources.Designer.cs
  LogicalAnalyzer/LogicalAnalyzer/Resources.resx
  LogicalAnalyzer/LogicalAnalyzer/Rule.cs
  LogicalAnalyzer/LogicalAnalyzer/Strings.cs
  LogicalAnalyzer/LogicalAnalyzer/Violation.cs
  Tests/AnalyzerExpressionsTests.cs
  Tests/AnalyzerOperationsTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add Guided Mode (#524)
  BUILD.md
  Cli/AttackSurfaceAnalyzerClient.cs
  Cli/Controllers/HomeController.cs
  Lib/Collectors/BaseCollector.cs
  Lib/Collectors/CertificateCollector.cs
  Lib/Collectors/ComObjectCollector.cs
  Lib/Collectors/CryptographicKeyCollector.cs
  Lib/Collectors/DriverCollector.cs
  Lib/Collectors/EventLogCollector.cs
  Lib/Collectors/FileSystemCollector.cs
  Lib/Collectors/FileSystemMonitor.cs
  Lib/Collectors/FirewallCollector.cs
  Lib/Collectors/OpenPortCollector.cs
  Lib/Collectors/ProcessCollector.cs
  Lib/Collectors/RegistryCollector.cs
  Lib/Collectors/ServiceCollector.cs
  Lib/Collectors/TpmCollector.cs
  Lib/Collectors/UserAccountCollector.cs
  Lib/Collectors/WifiCollector.cs
  Lib/Objects/CommandOptions.cs
  Lib/Objects/FileMonitorObject.cs
  Lib/Objects/MonitorObject.cs
  Lib/Objects/Types.cs
  Lib/Utils/DatabaseManager.cs
  Lib/Utils/SqliteDatabaseManager.cs
  LogicalAnalyzer/LogicalAnalyzer/Analyzer.cs
  LogicalAnalyzer/LogicalAnalyzer/IndexAndRange.cs
  LogicalAnalyzer/LogicalAnalyzer/Rule.cs
  Tests/AsaAnalyzerTests.cs
  Tests/CollectorTests.cs
  Tests/Tests.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Switch to using OAT
  AttackSurfaceAnalyzer.sln
  Cli/AttackSurfaceAnalyzerClient.cs
  Lib/Lib.csproj
  Lib/Objects/AsaRule.cs
  Lib/Objects/CompareResult.cs
  Lib/Objects/RuleFile.cs
  Lib/Utils/AsaAnalyzer.cs
  Tests/AnalyzerExpressionsTests.cs
  Tests/AnalyzerOperationsTests.cs
  Tests/AsaAnalyzerTests.cs
  analyses.json
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Switch to using OAT (#527)
  AttackSurfaceAnalyzer.sln
  Cli/AttackSurfaceAnalyzerClient.cs
  Lib/Lib.csproj
  Lib/Objects/AsaRule.cs
  Lib/Objects/CompareResult.cs
  Lib/Objects/RuleFile.cs
  Lib/Utils/AsaAnalyzer.cs
  Tests/AnalyzerExpressionsTests.cs
  Tests/AnalyzerOperationsTests.cs
  Tests/AsaAnalyzerTests.cs
  analyses.json
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Remove Old Logical Analyzer
  AttackSurfaceAnalyzer.sln
  LogicalAnalyzer/LogicalAnalyzer/Analyzer.cs
  LogicalAnalyzer/LogicalAnalyzer/BoolOperator.cs
  LogicalAnalyzer/LogicalAnalyzer/Clause.cs
  LogicalAnalyzer/LogicalAnalyzer/Helpers.cs
  LogicalAnalyzer/LogicalAnalyzer/IndexAndRange.cs
  LogicalAnalyzer/LogicalAnalyzer/LogicalAnalyzer.csproj
  LogicalAnalyzer/LogicalAnalyzer/Operation.cs
  LogicalAnalyzer/LogicalAnalyzer/Resources.Designer.cs
  LogicalAnalyzer/LogicalAnalyzer/Resources.resx
  LogicalAnalyzer/LogicalAnalyzer/Rule.cs
  LogicalAnalyzer/LogicalAnalyzer/Strings.cs
  LogicalAnalyzer/LogicalAnalyzer/Violation.cs
Due: none

Remove Old Logical Analyzer (#529)
  AttackSurfaceAnalyzer.sln
  LogicalAnalyzer/LogicalAnalyzer/Analyzer.cs
  LogicalAnalyzer/LogicalAnalyzer/BoolOperator.cs
  LogicalAnalyzer/LogicalAnalyzer/Clause.cs
  LogicalAnalyzer/LogicalAnalyzer/Helpers.cs
  LogicalAnalyzer/LogicalAnalyzer/IndexAndRange.cs
  LogicalAnalyzer/LogicalAnalyzer/LogicalAnalyzer.csproj
  LogicalAnalyzer/LogicalAnalyzer/Operation.cs
  LogicalAnalyzer/LogicalAnalyzer/Resources.Designer.cs
  LogicalAnalyzer/LogicalAnalyzer/Resources.resx
  LogicalAnalyzer/LogicalAnalyzer/Rule.cs
  LogicalAnalyzer/LogicalAnalyzer/Strings.cs
  LogicalAnalyzer/LogicalAnalyzer/Violation.cs
Due: none

Support OAT scripts in custom rules
  Cli/AttackSurfaceAnalyzerClient.cs
  Lib/Objects/CommandOptions.cs
  Lib/Utils/AsaAnalyzer.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update dependencies
  Benchmarks/Benchmarks.csproj
  Cli/Cli.csproj
  Lib/Lib.csproj
  Lib/Objects/FileMonitorObject.cs
  Tests/Tests.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Support OAT scripts in custom rules (#530)
  Benchmarks/Benchmarks.csproj
  Cli/AttackSurfaceAnalyzerClient.cs
  Cli/Cli.csproj
  Lib/Lib.csproj
  Lib/Objects/CommandOptions.cs
  Lib/Objects/FileMonitorObject.cs
  Lib/Utils/AsaAnalyzer.cs
  Tests/Tests.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update README.md
  README.md
Due: none

WIP Blazor Interface
  Blazor/App.razor
  Blazor/AppData.cs
  Blazor/AttackSurfaceAnalyzerClient.cs
  Blazor/Blazor.csproj
  Blazor/Components/CollectorOptionLayout.razor
  Blazor/Components/CollectorOptions.razor
  Blazor/Components/Options/FileCollectorOptions.razor
  Blazor/Components/Options/_Imports.razor
  Blazor/Data/WeatherForecast.cs
  Blazor/Data/WeatherForecastService.cs
  Blazor/Pages/Error.cshtml
  Blazor/Pages/Guided.razor
  Blazor/Pages/_Host.cshtml
  Blazor/Properties/launchSettings.json
  Blazor/Shared/MainLayout.razor
  Blazor/Shared/NavMenu.razor
  Blazor/Shared/SurveyPrompt.razor
  Blazor/Startup.cs
  Blazor/_Imports.razor
  Blazor/appsettings.Development.json
  Blazor/appsettings.json
  Blazor/wwwroot/css/bootstrap/bootstrap.min.css
  Blazor/wwwroot/css/bootstrap/bootstrap.min.css.map
  Blazor/wwwroot/css/open-iconic/FONT-LICENSE
  Blazor/wwwroot/css/open-iconic/ICON-LICENSE
  Blazor/wwwroot/css/open-iconic/README.md
  Blazor/wwwroot/css/open-iconic/font/css/open-iconic-bootstrap.min.css
  Blazor/wwwroot/css/open-iconic/font/fonts/open-iconic.eot
  Blazor/wwwroot/css/open-iconic/font/fonts/open-iconic.otf
  Blazor/wwwroot/css/open-iconic/font/fonts/open-iconic.svg
  Blazor/wwwroot/css/open-iconic/font/fonts/open-iconic.ttf
  Blazor/wwwroot/css/open-iconic/font/fonts/open-iconic.woff
  Blazor/wwwroot/css/site.css
  Blazor/wwwroot/favicon.ico
Due: none

Add Collector Options
  Blazor/Components/CollectorOptionLayout.razor
  Blazor/Components/Options/CertificateCollectorOptions.razor
  Blazor/Components/Options/ComObjectCollector.razor
  Blazor/Components/Options/CryptographicKeyCollectorOptions.razor
  Blazor/Components/Options/DriverCollectorOptions.razor
  Blazor/Components/Options/EventLogCollector.razor
  Blazor/Components/Options/FileCollectorOptions.razor
  Blazor/Components/Options/FilewallCollectorOptions.razor
  Blazor/Components/Options/OpenPortCollectorOptions.razor
  Blazor/Components/Options/ProcessCollectorOptions.razor
  Blazor/Components/Options/RegistryCollectorOptions.razor
  Blazor/Components/Options/ServiceCollectorOptions.Razor
  Blazor/Components/Options/TpmCollectorOptions.Razor
  Blazor/Components/Options/UserCollectorOptions.Razor
  Blazor/Components/Options/WifiCollectorOptions.Razor
  Blazor/Data/WeatherForecast.cs
  Blazor/Data/WeatherForecastService.cs
  Blazor/Pages/Guided.razor
  Blazor/Pages/_Host.cshtml
  Blazor/Properties/launchSettings.json
  Blazor/Shared/MainLayout.razor
  Blazor/Shared/SurveyPrompt.razor
  Blazor/Startup.cs
  Blazor/_Imports.razor
  Blazor/wwwroot/images/microsoft-gray.png
Due: none

More Options Files
  Blazor/Components/AnalyzeOptionsRazor.razor
  Blazor/Components/CollectorOptions.razor
  Blazor/Components/CollectorOptions/CertificateCollectorOptions.razor
  Blazor/Components/CollectorOptions/ComObjectCollector.razor
  Blazor/Components/CollectorOptions/CryptographicKeyCollectorOptions.razor
  Blazor/Components/CollectorOptions/DriverCollectorOptions.razor
  Blazor/Components/CollectorOptions/EventLogCollector.razor
  Blazor/Components/CollectorOptions/FileCollectorOptions.razor
  Blazor/Components/CollectorOptions/FilewallCollectorOptions.razor
  Blazor/Components/CollectorOptions/OpenPortCollectorOptions.razor
  Blazor/Components/CollectorOptions/ProcessCollectorOptions.razor
  Blazor/Components/CollectorOptions/RegistryCollectorOptions.razor
  Blazor/Components/CollectorOptions/ServiceCollectorOptions.Razor
  Blazor/Components/CollectorOptions/TpmCollectorOptions.Razor
  Blazor/Components/CollectorOptions/UserCollectorOptions.Razor
  Blazor/Components/CollectorOptions/WifiCollectorOptions.Razor
  Blazor/Components/CollectorOptions/_Imports.razor
  Blazor/Components/CollectorOptionsRazor.razor
  Blazor/Components/MonitorOptions/FileMonitorOptions.razor
  Blazor/Components/MonitorOptions/_Imports.razor
  Blazor/Components/MonitorOptionsRazor.razor
  Blazor/Pages/Guided.razor
Due: none
