Repository microsoft/AttackSurfaceAnalyzer: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/pr-validation.yml, Pipelines/release.yml

Pipelines/pr-validation.yml:
  name: ASA PR Validation
  stages:
  - stage: Test
    jobs:
    - job: Windows
      pool:
        vmImage: windows-latest
      steps:
      - script: dotnet tool install -g nbgv
        displayName: Install GitVersioning
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Pipelines/release.yml:
  name: ASA Release
  stages:
  - stage: Test
    jobs:
    - job: Windows
      pool:
        vmImage: windows-latest
      steps:
      - script: dotnet tool install -g nbgv
        displayName: Install GitVersioning
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Add mthods to support Sarif format
  Cli/AttackSurfaceAnalyzerClient.cs
  Cli/Cli.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add test for GenerateSarifLog
  Cli/AttackSurfaceAnalyzerClient.cs
  Tests/ExportTests.cs
  Tests/TestData/ExportTests/TestGenerateSarifLog/output.json
  Tests/TestData/ExportTests/TestGenerateSarifLog/rules.json
  Tests/Tests.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix comments
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix build
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add the sarif output option
  Cli/AttackSurfaceAnalyzerClient.cs
  Lib/Objects/CommandOptions.cs
  Tests/ExportTests.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix for Guided mode missing in the cli
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add methods to support Sarif format (#622)
  Cli/AttackSurfaceAnalyzerClient.cs
  Cli/Cli.csproj
  Lib/Objects/CommandOptions.cs
  Tests/ExportTests.cs
  Tests/TestData/ExportTests/TestGenerateSarifLog/output.json
  Tests/TestData/ExportTests/TestGenerateSarifLog/rules.json
  Tests/Tests.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update AttackSurfaceAnalyzerClient.cs
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update README.md
  README.md
Due: none

Restore export guided
  Cli/AttackSurfaceAnalyzerClient.cs
  Cli/Components/States/Results.razor
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fixes missing calls for guided.
  Cli/AttackSurfaceAnalyzerClient.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add Sarif Export option (#627)
  Cli/AttackSurfaceAnalyzerClient.cs
  Cli/Cli.csproj
  Cli/Components/States/Results.razor
  Lib/Objects/CommandOptions.cs
  Tests/ExportTests.cs
  Tests/TestData/ExportTests/TestGenerateSarifLog/output.json
  Tests/TestData/ExportTests/TestGenerateSarifLog/rules.json
  Tests/Tests.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Deploy v2.3 to GitHub Pages
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.ExportCollectCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.ExportGuidedCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.ExportMonitorCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.ExportOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.GuiCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.GuidedModeCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.MonitorCommandOptions.html
  v2.3/api/api/Microsoft.CST.AttackSurfaceAnalyzer.VerifyOptions.html
  v2.3/manifest.json
  v2.3/xrefmap.yml
Due: none

Remove Duplicate Copy of SetGid Rule
  analyses.json
Due: Pipelines/pr-validation.yml

Remove Duplicate Copy of SetGid Rule (#629)
  analyses.json
Due: Pipelines/pr-validation.yml

.NET 6
  .github/workflows/publish-docs.yml
  BUILD.md
  Benchmarks/Benchmarks.csproj
  Cli/Cli.csproj
  Cli/Components/CollectorOptions/ComObjectCollectorOptions.razor
  Cli/Components/CollectorOptions/EventLogCollectorOptions.razor
  Cli/Components/CollectorOptionsRazor.razor
  Cli/Properties/launchSettings.json
  Lib/Lib.csproj
  Pipelines/core-pipeline.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nuget-build-job.yml
  Tests/Tests.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Try Fix CodeQL Runner
  .github/workflows/codeql-analysis.yml
Due: none

Fix build break
  Cli/Cli.csproj
  Cli/Components/CollectorOptionsRazor.razor
  Lib/Lib.csproj
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

.net 6 analyzers
  Benchmarks/AsaDatabaseBenchmark.cs
  Benchmarks/CryptoTests.cs
  Benchmarks/LiteDbManager.cs
  Benchmarks/LiteDbQueryTests.cs
  Benchmarks/QueryTests.cs
  Benchmarks/SystemSqliteDatabaseManager.cs
  Cli/AttackSurfaceAnalyzerClient.cs
  Lib/Collectors/BaseCollector.cs
  Lib/Collectors/BaseCompare.cs
  Lib/Collectors/CertificateCollector.cs
  Lib/Collectors/ComObjectCollector.cs
  Lib/Collectors/EventLogCollector.cs
  Lib/Collectors/FileSystemCollector.cs
  Lib/Collectors/FileSystemMonitor.cs
  Lib/Collectors/FileSystemUtils.cs
  Lib/Collectors/FirewallCollector.cs
  Lib/Collectors/RegistryCollector.cs
  Lib/Collectors/RegistryMonitor.cs
  Lib/Collectors/ServiceCollector.cs
  Lib/Collectors/UserAccountCollector.cs
  Lib/Collectors/WindowsFileSystemUtils.cs
  Lib/Objects/RegistryObject.cs
  Lib/Objects/RuleFile.cs
  Lib/Utils/AsaHelpers.cs
  Lib/Utils/CryptoHelpers.cs
  Lib/Utils/Elevation.cs
  Lib/Utils/JsonUtils.cs
  Lib/Utils/NativeMethods.cs
  Lib/Utils/RegistryWalker.cs
  Lib/Utils/SqliteDatabaseManager.cs
  Lib/Utils/Strings.cs
  Lib/Utils/Win32OpenPortListenerHelper.cs
  Tests/AsaAnalyzerTests.cs
  Tests/CollectorTests.cs
  Tests/ExportTests.cs
  Tests/InMemoryComparatorTests.cs
  Tests/TpmSim.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update RegistryMonitor.cs
  Lib/Collectors/RegistryMonitor.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add whitespace
  Cli/Components/CollectorOptions/ServiceCollectorOptions.Razor
  Cli/Components/CollectorOptions/TpmCollectorOptions.Razor
  Cli/Components/CollectorOptions/UserCollectorOptions.Razor
  Cli/Components/CollectorOptions/WifiCollectorOptions.Razor
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Revert "Add whitespace"
  Cli/Components/CollectorOptions/ServiceCollectorOptions.Razor
  Cli/Components/CollectorOptions/TpmCollectorOptions.Razor
  Cli/Components/CollectorOptions/UserCollectorOptions.Razor
  Cli/Components/CollectorOptions/WifiCollectorOptions.Razor
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Test recreating files.
  Cli/Components/CollectorOptions/ServiceCollectorOptionsTwo.razor
  Cli/Components/CollectorOptions/TpmCollectorOptionsTwo.razor
  Cli/Components/CollectorOptions/UserCollectorOptionsTwo.razor
  Cli/Components/CollectorOptions/WifiCollectorOptionsTwo.razor
  Cli/Components/CollectorOptionsRazor.razor
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Move files back
  Cli/Components/CollectorOptions/ServiceCollectorOptions.razor
  Cli/Components/CollectorOptions/TpmCollectorOptions.razor
  Cli/Components/CollectorOptions/UserCollectorOptions.razor
  Cli/Components/CollectorOptions/WifiCollectorOptions.razor
  Cli/Components/CollectorOptionsRazor.razor
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix pipeline
  Pipelines/core-pipeline.yml
  Pipelines/templates/nbgv-set-version-steps.yml
Due: Pipelines/pr-validation.yml

Add SBOM Generation
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/pr-validation.yml

Add SBOM Gathering
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/pr-validation.yml

Fix #633
  Lib/Collectors/FileSystemCollector.cs
  Lib/Collectors/WindowsFileSystemUtils.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Separate BOMs for Linux/Mac/Windows/netcore
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
Due: Pipelines/pr-validation.yml

Path conditions:
  Pipelines/pr-validation.yml: any of: Cli, Lib, Tests, Benchmarks, Pipelines, analyses.json
  Pipelines/release.yml: any of: Cli, Lib
