Repository microsoft/AttackSurfaceAnalyzer: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/pr-validation.yml, Pipelines/release.yml

Pipelines/pr-validation.yml:
  name: ASA PR Validation
  stages:
  - stage: Test
    jobs:
    - job: Windows
      pool:
        vmImage: windows-latest
      steps:
      - script: dotnet tool install -g nbgv
        displayName: Install GitVersioning
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Pipelines/release.yml:
  name: ASA Release
  stages:
  - stage: Test
    jobs:
    - job: Windows
      pool:
        vmImage: windows-latest
      steps:
      - script: dotnet tool install -g nbgv
        displayName: Install GitVersioning
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Update Guided.razor
  Blazor/Pages/Guided.razor
Due: none

WIP
  Blazor/AppData.cs
  Blazor/AttackSurfaceAnalyzerClient.cs
  Blazor/Pages/Guided.razor
  Lib/Objects/CommandOptions.cs
  Lib/Objects/RuleFile.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

WIP
  Blazor/AppData.cs
  Blazor/AttackSurfaceAnalyzerClient.cs
  Blazor/Pages/Guided.razor
  Cli/Controllers/HomeController.cs
  Lib/Collectors/DriverCollector.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Collecting through working
  Blazor/Pages/Guided.razor
  Blazor/Shared/MainLayout.razor
  Cli/AttackSurfaceAnalyzerClient.cs
  Cli/Controllers/HomeController.cs
  Lib/Collectors/BaseCollector.cs
  Lib/Utils/DatabaseManager.cs
  Lib/Utils/SqliteDatabaseManager.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Guided mode end to end
  Blazor/AttackSurfaceAnalyzerClient.cs
  Blazor/Components/MonitorOptions/FileMonitorOptions.razor
  Blazor/Pages/Guided.razor
  Cli/AttackSurfaceAnalyzerClient.cs
  Lib/Collectors/UserAccountCollector.cs
  Lib/Objects/RuleFile.cs
  Lib/Utils/JsonUtils.cs
  Lib/Utils/SqliteDatabaseManager.cs
  Tests/AsaAnalyzerTests.cs
  analyses.json
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Update Analysis Options Section to have a header
  Blazor/Components/AnalyzeOptionsRazor.razor
  Blazor/Components/CollectorOptions/_Imports.razor
Due: none

Component breakdowns
  AttackSurfaceAnalyzer.sln
  Blazor/AppData.cs
  Blazor/Components/States/Analyzing.razor
  Blazor/Components/States/Monitoring.razor
  Blazor/Components/States/Results.razor
  Blazor/Components/States/Scanning.razor
  Blazor/Pages/Guided.razor
Due: none

Update site.css
  Blazor/wwwroot/css/site.css
Due: none

Fix versioning
  Blazor/Components/States/MonitorFlushing.razor
  Blazor/Components/States/Monitoring.razor
  Blazor/Pages/Guided.razor
  Lib/Utils/AsaHelpers.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Add GitHub Link
  Blazor/Shared/MainLayout.razor
  Blazor/wwwroot/images/github-32.png
Due: none

Update Sidebar
  Blazor/Shared/MainLayout.razor
  Blazor/Shared/NavMenu.razor
  Blazor/wwwroot/css/site.css
  Blazor/wwwroot/images/microsoft-gray.png
  Blazor/wwwroot/images/microsoft-logo.png
Due: none

Glows
  Blazor/Components/CollectorOptions/CertificateCollectorOptions.razor
  Blazor/Components/CollectorOptions/ComObjectCollector.razor
  Blazor/Components/CollectorOptions/CryptographicKeyCollectorOptions.razor
  Blazor/Components/CollectorOptions/DriverCollectorOptions.razor
  Blazor/Components/CollectorOptions/EventLogCollector.razor
  Blazor/Components/CollectorOptions/FilewallCollectorOptions.razor
  Blazor/Components/CollectorOptions/OpenPortCollectorOptions.razor
  Blazor/Components/CollectorOptions/ProcessCollectorOptions.razor
  Blazor/Components/CollectorOptions/ServiceCollectorOptions.Razor
  Blazor/Components/CollectorOptions/TpmCollectorOptions.Razor
  Blazor/Components/CollectorOptions/UserCollectorOptions.Razor
  Blazor/Components/CollectorOptions/WifiCollectorOptions.Razor
  Blazor/wwwroot/css/site.css
Due: none

Add Pages, Update Sidebar
  Blazor/Pages/Analyze.razor
  Blazor/Pages/Configure.razor
  Blazor/Pages/Guided.razor
  Blazor/Pages/Home.razor
  Blazor/Pages/Monitor.razor
  Blazor/Pages/Report.razor
  Blazor/Pages/Scan.razor
  Blazor/Shared/NavMenu.razor
Due: none

Update MainLayout.razor
  Blazor/Shared/MainLayout.razor
Due: none

Redo Glow
  Blazor/Components/CollectorOptions/CertificateCollectorOptions.razor
  Blazor/Components/CollectorOptions/ComObjectCollector.razor
  Blazor/Components/CollectorOptions/CryptographicKeyCollectorOptions.razor
  Blazor/Components/CollectorOptions/DriverCollectorOptions.razor
  Blazor/Components/CollectorOptions/EventLogCollector.razor
  Blazor/Components/CollectorOptions/FilewallCollectorOptions.razor
  Blazor/Components/CollectorOptions/OpenPortCollectorOptions.razor
  Blazor/Components/CollectorOptions/ProcessCollectorOptions.razor
  Blazor/Components/CollectorOptions/ServiceCollectorOptions.Razor
  Blazor/Components/CollectorOptions/TpmCollectorOptions.Razor
  Blazor/Components/CollectorOptions/UserCollectorOptions.Razor
  Blazor/Components/CollectorOptions/WifiCollectorOptions.Razor
  Blazor/Components/CollectorOptions/_Imports.razor
  Blazor/Helper.cs
Due: none

Finish gglowing
  Blazor/Components/AnalyzeOptionsRazor.razor
  Blazor/Components/CollectorOptions/FileCollectorOptions.razor
  Blazor/Components/CollectorOptions/RegistryCollectorOptions.razor
  Blazor/Components/MonitorOptions/FileMonitorOptions.razor
Due: none

Update NavMenu.razor
  Blazor/Shared/NavMenu.razor
Due: none

Update top bar
  Blazor/Shared/MainLayout.razor
  Blazor/wwwroot/css/site.css
Due: none

Refactor Glow toggling
  Blazor/Components/AnalyzeOptionsRazor.razor
  Blazor/Components/CollectorOptions/CertificateCollectorOptions.razor
  Blazor/Components/CollectorOptions/ComObjectCollector.razor
  Blazor/Components/CollectorOptions/CryptographicKeyCollectorOptions.razor
  Blazor/Components/CollectorOptions/DriverCollectorOptions.razor
  Blazor/Components/CollectorOptions/EventLogCollector.razor
  Blazor/Components/CollectorOptions/FileCollectorOptions.razor
  Blazor/Components/CollectorOptions/FilewallCollectorOptions.razor
  Blazor/Components/CollectorOptions/OpenPortCollectorOptions.razor
  Blazor/Components/CollectorOptions/ProcessCollectorOptions.razor
  Blazor/Components/CollectorOptions/RegistryCollectorOptions.razor
  Blazor/Components/CollectorOptions/ServiceCollectorOptions.Razor
  Blazor/Components/CollectorOptions/TpmCollectorOptions.Razor
  Blazor/Components/CollectorOptions/UserCollectorOptions.Razor
  Blazor/Components/CollectorOptions/WifiCollectorOptions.Razor
  Blazor/Components/MonitorOptions/FileMonitorOptions.razor
  Blazor/Helper.cs
Due: none

Update Nav
  Blazor/Shared/MainLayout.razor
  Blazor/wwwroot/css/site.css
Due: none

Add Options Card CSS
  Blazor/wwwroot/css/site.css
Due: none

Add FileCollector Options Card
  Blazor/Components/CollectorOptions/FileCollectorOptions.razor
Due: none

Improve FileCollector Directory Selection
  Blazor/Components/CollectorOptions/FileCollectorOptions.razor
  Blazor/wwwroot/css/site.css
  Lib/Collectors/FileSystemCollector.cs
  Lib/Objects/CommandOptions.cs
Due: Pipelines/pr-validation.yml, Pipelines/release.yml

Fix glow on add/remove entries from selected directories
  Blazor/Pages/Author.razor
  Blazor/Shared/NavMenu.razor
  Blazor/wwwroot/css/site.css
Due: none

Card-ify Rest Of Options
  Blazor/Components/AnalyzeOptionsRazor.razor
  Blazor/Components/CollectorOptions/CertificateCollectorOptions.razor
  Blazor/Components/CollectorOptions/ComObjectCollector.razor
  Blazor/Components/CollectorOptions/CryptographicKeyCollectorOptions.razor
  Blazor/Components/CollectorOptions/DriverCollectorOptions.razor
  Blazor/Components/CollectorOptions/EventLogCollector.razor
  Blazor/Components/CollectorOptions/FilewallCollectorOptions.razor
  Blazor/Components/CollectorOptions/OpenPortCollectorOptions.razor
  Blazor/Components/CollectorOptions/ProcessCollectorOptions.razor
  Blazor/Components/CollectorOptions/RegistryCollectorOptions.razor
  Blazor/Components/CollectorOptions/ServiceCollectorOptions.Razor
  Blazor/Components/CollectorOptions/TpmCollectorOptions.Razor
  Blazor/Components/CollectorOptions/UserCollectorOptions.Razor
  Blazor/Components/CollectorOptions/WifiCollectorOptions.Razor
  Blazor/Components/MonitorOptions/FileMonitorOptions.razor
  Blazor/wwwroot/css/site.css
Due: none

Move Cards Into Containers
  Blazor/Pages/Guided.razor
  Blazor/wwwroot/css/site.css
Due: none

Style Card Containers
  Blazor/Pages/Guided.razor
  Blazor/Shared/MainLayout.razor
  Blazor/Shared/NavMenu.razor
  Blazor/wwwroot/css/site.css
Due: none

Update Options Panes
  Blazor/Pages/Guided.razor
  Blazor/wwwroot/css/site.css
Due: none

Update Guided Styling, Move Containers
  Blazor/Components/CollectorOptions/EventLogCollector.razor
  Blazor/Components/CollectorOptions/RegistryCollectorOptions.razor
  Blazor/Components/CollectorOptions/WifiCollectorOptions.Razor
  Blazor/Components/CollectorOptionsRazor.razor
  Blazor/Components/MonitorOptions/FileMonitorOptions.razor
  Blazor/Pages/Guided.razor
  Blazor/wwwroot/css/site.css
Due: none

Update checkbox sizes
  Blazor/wwwroot/css/site.css
Due: none

Update RunID Input Box
  Blazor/Pages/Guided.razor
  Blazor/wwwroot/css/site.css
Due: none

Fix build break
  Tests/CollectorTests.cs
Due: Pipelines/pr-validation.yml

Respect UseTimestamp Checkbox
  Blazor/Pages/Guided.razor
Due: none

Tone Down the Glow
  Blazor/Components/CollectorOptions/CertificateCollectorOptions.razor
  Blazor/Components/CollectorOptions/ComObjectCollector.razor
  Blazor/Components/CollectorOptions/CryptographicKeyCollectorOptions.razor
  Blazor/Components/CollectorOptions/DriverCollectorOptions.razor
  Blazor/Components/CollectorOptions/EventLogCollector.razor
  Blazor/Components/CollectorOptions/FileCollectorOptions.razor
  Blazor/Components/CollectorOptions/FilewallCollectorOptions.razor
  Blazor/Components/CollectorOptions/OpenPortCollectorOptions.razor
  Blazor/Components/CollectorOptions/ProcessCollectorOptions.razor
  Blazor/Components/CollectorOptions/RegistryCollectorOptions.razor
  Blazor/Components/CollectorOptions/ServiceCollectorOptions.Razor
  Blazor/Components/CollectorOptions/TpmCollectorOptions.Razor
  Blazor/Components/CollectorOptions/UserCollectorOptions.Razor
  Blazor/Components/CollectorOptions/WifiCollectorOptions.Razor
Due: none

Update UserCollectorOptions.Razor
  Blazor/Components/CollectorOptions/UserCollectorOptions.Razor
Due: none

Path conditions:
  Pipelines/pr-validation.yml: any of: Cli, Lib, Tests, Benchmarks, Pipelines, analyses.json
  Pipelines/release.yml: any of: Cli, Lib
